.panel-body {
  padding: 10px;
}

.right-button-group {
  float: right;
  width: 283px;
}

:host ::ng-deep bk-month-and-year .button-title {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 992px) {
  .right-button-group {
    width: 230px;
  }

  :host ::ng-deep bk-month-and-year .year-aria {
    min-width: 50px;
  }

  .left-button, :host ::ng-deep bk-month-and-year .month-dropdown {
    padding-left: 7px;
    padding-right: 7px;
  }

  :host ::ng-deep bk-month-and-year .month-dropdown-menu li a {
    padding-left: 13px;
  }
}
