.panel-body {
  padding: 10px;
}

.right-button-group {
  float: right;
  width: 283px;
}

.month-dropdown {
  width: 105px;
}

.month-dropdown-caret {
  margin-left: 5px;
}

.button-icon {
  top: 0;
}

.year-aria {
  float: left;
  width: 100px;
  height: 34px;
  padding-top: 9px;
  border-left-width:0;
}

/*main tables header*/

.budget-panel {
  margin-top: 10px;
}

.budget-panel .panel-heading {
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 5px 10px;
}

.budget-panel .type-and-goal {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding-left: 0;
}

.income {
  float: left;
  font-weight: bold;
  color: #009900;
}

.full-width {
  width: 100%;
}

.budget-panel .badge-income {
  background-color: #009900;
  float: right;
}

.black {
  color: black;
}

.no-right-padding {
  padding-right: 0;
}

.header-currency {
  font-weight: bold;
  float: right;
  width: 30px;
}

.header-current {
  float: right;
  width: 70px;
}

.header-from {
  float: right;
  width: 15px;
  margin: 0 7px;
  font-weight: bold;
}

.header-expected {
  float: right;
  width: 70px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.budget-panel .panel-heading {
  cursor: pointer;
}

/*Main tables*/

.body-row {
  display: flex;
}

.expand-icon {
  float: left;
  padding-left: 5px;
}

.category-progress {
  float: left;
  width: 100%;
  margin-left: 5px;
  margin-right: 10px;
}

.category-title {
  font-weight: bold;
  position: absolute;
  left: 5px;
}

.category-value {
  position: absolute;
  right: 5px;
}

.vertical-middle {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.full-height {
  height: 100%;
}

.delete-button {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.done-icon {
  float: left;
  padding-left: 24px;
}

.move-icon {
  float: left;
  padding-left: 5px;
}

.goal-progress {
  float: left;
  width: 100%;
  margin-left: 7px;
  margin-right: 10px;
}

.goal-title {
  position: absolute;
  left: 5px;
}



/*OLD*/

.limits {
  margin: 10px 0;
}

.limits .panel-heading {
  padding: 5px 10px;
  background-color: #cccccc;
}

.limits .header{
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  font-weight: bolder;
}

.row {
  margin: 0;
}

.limits .type-and-goal {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.limits .type {
  padding-left: 0;
}

.limits hr {
  margin: 0;
}

.no-left-padding {
  padding-left: 0;
}

.limits .header .done-header {
  padding-left: 7px;
}

.limits .limit {
  padding-left: 3px;
}

.limits .done {
  padding-left: 0;
  padding-right: 20px;
}

.goal-header {
  padding-right: 30px;
}





.expense {
  color: #dd0000;
  white-space: nowrap;
}

.badge-expense {
  background-color: #dd0000;
}

.glyphicon {
  cursor: pointer;
  color: #999;
}

.glyphicon:hover {
  color: #5e5e5e;
}

@media (min-width: 768px) and (max-width: 992px) {
  .budget-panel .type-and-goal {
    padding-right: 0;
  }






  .right-button-group {
    width: 222px;
  }

  .year-aria {
    width: 50px;
  }

  .month-dropdown {
    width: 95px;
  }

  .left-button, .month-dropdown {
    padding-left: 7px;
    padding-right: 7px;
  }

  .limits .limit {
    padding-left: 7px;
  }

  .goal-header {
    padding-right: 0;
    padding-left: 0;
  }

  .badge-cell {
    padding-left: 0;
    padding-right: 0;
  }

  .limits .type-and-goal {
    padding-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {
  .limits .header .limit-header {
    padding-left: 20px;
  }
}



/*-------------------*/

.budget {
  margin-left: 0;
  margin-right: 0;
}

.day-percent-top, .day-percent-bottom {
  border-right: 2px dotted #adadad;
  height: 10px;
}

.day-percent-top {
  margin-top: 5px;
}

.day-percent-bottom {
  margin-bottom: 5px;
}

.no-day-percent {
  margin-top: 15px;
  margin-bottom: 15px !important;
}

.category-loading {
  font-weight: bold;
}

.progress {
  position: relative;
  margin-bottom: 0;
}

.progress-value, .category-loading {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
