.panel-body {
  padding: 10px;
}

.right-button-group {
  float: right;
  width: 363px;
}

:host ::ng-deep bk-month-and-year .button-title {
  font-weight: bold;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .right-button-group {
    width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .right-button-group {
    width: 225px;
  }

  :host ::ng-deep bk-month-and-year .year-aria {
    min-width: 40px;
    max-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }

  :host ::ng-deep bk-month-and-year .button-icon {
    width: 25px;
    padding-left: 5px;
  }

  .left-button {
    padding-left: 7px;
    padding-right: 7px;
  }

  :host ::ng-deep bk-month-and-year .month-dropdown {
    padding-left: 7px;
  }

  :host ::ng-deep bk-month-and-year .month-dropdown-menu li a {
    padding-left: 13px;
  }
}
