.actions {
  width: 100%;
}

.action-item {
  float: right;
}

.admin-permission {
  padding-left: 10px;
}

.left-column, .right-column {
  line-height: 34px;
  font-size: 16px;
}

.right-column {
  padding-left: 5px;
}

.first-line {
  padding-bottom: 10px;
}
