.summary-to-currency {
  position: absolute;
  top: 4px;
  right: 18px;
}

.summary-to-currency .dropdown button {
  background-color: #f5f5f5;
}

li a {
  cursor: pointer;
}

button {
  padding: 3px 12px;
}
