.statistic-separator {
  margin-bottom: 5px;
}

.currency-and-value {
  padding-left: 0;
}

.currency-symbol {
  width: 30px;
  display: inline-block;
  font-weight: bold;
}

.toggle-column {
  padding-left: 5px;
  padding-right: 0;
}

mat-slide-toggle {
  height: 20px;
}

.month-year-column {
  padding-left: 10px;
  padding-right: 0;
}
