<h2 mat-dialog-title align="center" #title bkDraggable dragTarget="#category-statistics-dialog">Статистика предыдущих месяцев</h2>
@if (!loading) {
  <mat-dialog-content id="budget-plan-dialog">
    <div class="table">
      @for (categoryStatistic of categoryStatistics; track categoryStatistic) {
        <div>
          @for (balanceItem of categoryStatistic.category.balance | keyvalue; track balanceItem; let firstItem = $first; let lastItem = $last) {
            <div class="row" [ngClass]="{'statistic-separator' : lastItem}">
              @if (firstItem) {
                <div class="col-sm-1 toggle-column">
                  <mat-slide-toggle color="primary" [checked]="categoryStatistic.used" (change)="recalculateStatistics($event, categoryStatistic)"></mat-slide-toggle>
                </div>
              }
              @if (firstItem) {
                <div class="col-sm-3 month-year-column">{{getMonthTitle(categoryStatistic.month)}} {{categoryStatistic.year}}</div>
              }
              <div class="col-sm-5" [ngClass]="{'col-sm-offset-4': !firstItem}">
                <div class="progress statistic-separator">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width.%': getPercent(balanceItem.key, balanceItem.value.value)}"></div>
                </div>
              </div>
              <div class="col-sm-3 currency-and-value">
                <bk-currency-symbol class="currency-symbol" [currencyName]="balanceItem.key"></bk-currency-symbol>
                <span>{{balanceItem.value.value | currencyValue:2:true}}</span>
              </div>
            </div>
          }
        </div>
      }
      <div class="row statistic-separator text-center">
        Среднее значение прошлых периодов:
      </div>
      @for (balance of currencyBalance; track balance) {
        <div class="row statistic-separator">
          <div  class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" [checked]="balance.selectedValue" (click)="changeSelectedValue(balance)">
              </span>
              <span class="input-group-addon dropdown-addon">{{balance.currency}}</span>
              <bk-input-calculator position="right" placeholder="Лимит" [value]="balance.completeValue" (changeInputValue)="balance.completeValue = $event" ></bk-input-calculator>
            </div>
          </div>
        </div>
      }
    </div>
  </mat-dialog-content>
} @else {
  <bk-spinner [size]="60"></bk-spinner>
}
<mat-dialog-actions>
  <span class="full-width">
    <bk-currency-conversion class="pull-left" (currencyConversion)="changeCurrency($event)"></bk-currency-conversion>
    <a class="btn btn-default pull-right" (click)="close()">Закрыть</a>
    <span class="pull-right">&nbsp;</span>
    <a class="btn btn-default pull-right" (click)="save()">Применить</a>
  </span>
</mat-dialog-actions>

