.validation-failed {
  outline: 0;
  border-color: #c62828;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(-35px);;
  transform: translateY(-35px);;
  left: 13px;
  color: #777;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #777;
  font-weight: bold;
}

label.active {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  left: 2px;
  font-size: 14px;
}

input:-webkit-autofill + label {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #777;
}

input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #333;
  border-radius: 4px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
