<div class="table">
  <div class="row row-wrapper">
    <div class="col-lg-3 application-column">
      <div class="media">
        <div class="media-left">
            <img class="media-object android" src="assets/image/android-app.jpg">
        </div>
        <div class="media-body media-middle">
          <div>
            <span class="glyphicon glyphicon-download-alt cursor-pointer action" (click)="downloadApplication()"></span>
            <span class="cursor-pointer application-option" (click)="downloadApplication()">Скачать</span>
          </div>
          <div>
            <span class="glyphicon glyphicon-envelope cursor-pointer action"></span>
            <span class="cursor-pointer application-option" (click)="openSendEmailDialog()">Послать</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="text-center page-title">Ассоциированные девайсы</div>

      <div class="table">
        <div class="row header">
          <div class="col-md-3 col-sm-4 text-center">ID</div>
          <div class="col-md-7 col-sm-6 text-left">Имя</div>
          <div class="col-md-2 col-sm-2 text-center sm-padding">Действия</div>
        </div>

        <div class="row" *ngFor="let device of devices | keyvalue; let lastDevice = last;">
          <div class="col-md-3 col-sm-4 no-left-padding">{{device.key}}</div>
          <div class="col-md-7 col-sm-6">{{device.value.name}}</div>
          <div class="col-md-2 col-sm-2 sm-padding">
            <bk-popover glyphiconClass="pencil" text="Изменить имя" placement="left" (click)="openChangeNameDialog(device.value, device.key)"></bk-popover>
            <bk-popover glyphiconClass="list" text="Sms" placement="left" (click)="openProcessedSmsDialog(device.value, device.key)"></bk-popover>
            <bk-popover glyphiconClass="alert" text="Разлогинить девайс" placement="left"></bk-popover>
            <bk-popover glyphiconClass="remove" text="Удалить девайс" placement="left"></bk-popover>
          </div>
          <hr *ngIf="!lastDevice"/>
        </div>
      </div>
    </div>
  </div>
</div>
