#device-device-message-dialog {
  min-height: 100px;
}

.actions {
  width: 100%;
}

.action-item {
  float: right;
}

.left-column {
  font-size: 16px;
}

.device-message-margin {
  margin-top: 15px;
}
