.table {
  margin-bottom: 0;
}

.page-title {
  padding-bottom: 5px;
  font-size: 16px;
}

.income-category {
  color: #5cb85c;
}

.expense-category {
  color: orangered;
}

.add-category {
  margin-top: 5px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon {
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 9px;
}

.glyphicon {
  cursor: pointer;
  color: #999;
}

.glyphicon:hover {
  color: #5e5e5e;
}

:host ::ng-deep bk-popover .action {
  padding-right: 5px;
}

.category-separator {
  border-width: initial;
}

.tree-icon {
  padding-left: 5px;
}

.no-subcategories {
  padding-left: 15px;
}

.empty-action {
  padding-right: 15px;
}

.subcategory {
  padding-left: 70px;
  padding-right: 15px;
}

.subcategory .col-sm-8 {
  padding-left: 0;
}

.subcategory .col-sm-4 {
  padding-right: 0;
}

.page-title .table {
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 992px) {
  .add-category {
    white-space: normal;
  }
  .page-title {
    font-size: 14px;
  }
  .page-title-description {
    padding-left: 10px;
    padding-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .page-title {
    font-size: 14px;
  }
  .page-title-description {
    padding: 0;
  }
}
