<div class="text-center page-title">
  <div class="table row">
    <div class="col-sm-3 col-md-4"><button type="button" class="btn btn-default pull-left add-category" [disabled]="loading" (click)="addCategory()">Добавить категорию</button></div>
    <div class="col-sm-9 col-md-8 page-title-description">
      Конфигурация расходных и доходных категорий.<br/>
      <span class="income-category">Доходные</span> выделены зеленым цветом а <span class="expense-category">расходные</span> красным.
    </div>
  </div>
</div>

<div class="table" *ngIf="!loading; else loadingIndicator">
  <div *ngFor="let category of profile.categories; let lastCategory = last; let firstCategory = first;">
    <hr *ngIf="firstCategory" />
    <div class="row">
      <div class="col-sm-8">
        <span *ngIf="hasSubcategories(category) && !category.opened" class="tree-icon glyphicon glyphicon-chevron-right" (click)="category.opened = !category.opened"></span>
        <span *ngIf="hasSubcategories(category) && category.opened" class="tree-icon glyphicon glyphicon-chevron-down" (click)="category.opened = !category.opened"></span>
        <img class="icon" [src]="category.icon | assetImage:'category'">
        <span (click)="category.opened = !category.opened">{{category.title}}</span>
      </div>
      <div class="col-sm-4 text-right">
        <bk-popover glyphiconClass="plus" text="Добавить подкатегорию" placement="left" (click)="addSubCategory(category)"></bk-popover>
        <bk-popover glyphiconClass="pencil" text="Редактировать категорию" placement="left" (click)="editCategory(category)"></bk-popover>
        <bk-popover glyphiconClass="remove" text="Удалить категорию" placement="left" (click)="deleteCategory(category)"></bk-popover>
        <bk-popover glyphiconClass="arrow-down" text="Переместить ниже" placement="left" (click)="moveCategoryDown(category)" *ngIf="!lastCategory"></bk-popover>
        <span *ngIf="lastCategory" class="empty-action">&nbsp;</span>
        <bk-popover glyphiconClass="arrow-up" text="Переместить выше" placement="left" (click)="moveCategoryUp(category)" *ngIf="!firstCategory"></bk-popover>
        <span *ngIf="firstCategory" class="empty-action">&nbsp;</span>
      </div>
    </div>
    <div *ngIf="category.opened">
      <div class="row subcategory"  *ngFor="let subCategory of category.subCategories; let lastSubCategory = last; let firstSubCategory = first;">
        <hr/>
        <div [ngClass]="{'col-sm-8':true, 'income-category':subCategory.type==='income', 'expense-category':subCategory.type==='expense'}">{{subCategory.title}}</div>
        <div class="col-sm-4 text-right">
          <bk-popover glyphiconClass="pencil" text="Редактировать" placement="left" (click)="editSubCategory(category, subCategory)"></bk-popover>
          <bk-popover glyphiconClass="remove" text="Удалить" placement="left" (click)="deleteSubCategory(category, subCategory)"></bk-popover>
          <bk-popover glyphiconClass="arrow-down" text="Переместить ниже" placement="left" (click)="moveSubCategoryDown(category, subCategory)"></bk-popover>
          <span *ngIf="lastSubCategory" class="empty-action">&nbsp;</span>
          <bk-popover glyphiconClass="arrow-up" text="Переместить выше" placement="left" (click)="moveSubCategoryUp(category, subCategory)"></bk-popover>
          <span *ngIf="firstSubCategory" class="empty-action">&nbsp;</span>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>

<ng-template #loadingIndicator>
  <bk-spinner [size]="80"></bk-spinner>
</ng-template>
