.progress {
  margin-bottom: 10px;
}

.goal-group-active {
  background-color: #f5f5f5;
}

.goal-groups a {
  cursor: pointer;
}

.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0;
}

.glyphicon {
  cursor: pointer;
  color: #999;
}

.glyphicon:hover {
  color: #5e5e5e;
}

.goal-done {
  color: #5cb85c;
}

.list-group {
  margin-bottom: 0;
}
