li a {
  cursor: pointer;
  line-height: 16px;
}

li a.static-line {
  padding: 3px 10px;
}



.dropdown-menu {
  min-width: 120px;
}

.dropdown-menu{
  padding: 3px 0;
}

.divider {
  margin: 3px 0;
}
