@if (profile.currencies) {
  <span class="summary-to-currency">
    <div class="dropdown">
      <span class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{label}} <strong><bk-currency-symbol [currencyName]="selectedCurrency?.name"></bk-currency-symbol></strong>
      </span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @for (currency of profile.currencies; track currency) {
          <li>
            <a (click)="chooseCurrency(currency)">
              <bk-currency-symbol [currencyName]="currency.name"></bk-currency-symbol>
            </a>
          </li>
        }
        @if (!denyNoChoice) {
          <li role="separator" class="divider"></li>
        }
        <li>@if (!denyNoChoice) {
          <a (click)="chooseCurrency(null)" class="static-line">Без приведения</a>
        }</li>
      </ul>
    </div>
  </span>
}
