.currency-details {
  line-height: 15px;
}

.panel-heading {
  cursor: pointer;
  padding: 5px 0;
}

.panel-body {
  padding: 5px 0;
}

.panel-body hr {
  margin: 5px 0;
}

.panel-group {
  margin-bottom: 0;
}

.summary-balance-item, .summary-balance-title {
  line-height: 15px;
}

.summary-balance-item {
  margin: 0;
}

.panel-title {
  font-size: 15px;
}

.icon {
  padding-bottom: 2px;
  padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-sm-5 {
    padding-left: 0;
  }
  .col-sm-7 {
    padding-right: 5px;
    padding-left: 85px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-7 {
    padding-left: 0;
  }
}
