<div class="panel-group">
  @for (account of accounts; track account) {
    <div class="panel panel-default">
      <div class="panel-heading" (click)="changeOpenState(account)">
        <h4 class="panel-title">
          <div class="clearfix">
            <div class="col-lg-7 col-md-6"><strong>{{account.title}}</strong></div>
            <div class="col-lg-5 col-md-6">
              @for (balanceItem of account | summaryBodyAccount:conversionCurrency | summaryBalanceOrdering; track balanceItem) {
                <div class="row" [ngClass]="{'negative-value': balanceItem.value < 0}">
                  <div class="col-lg-3 col-sm-7 col-md-5">
                    <strong>
                      <bk-currency-symbol [currencyName]="balanceItem.currency"></bk-currency-symbol>
                    </strong>
                  </div>
                  <div class="col-lg-9 col-sm-5 col-md-7 text-right">{{balanceItem.value | currencyValue:2}}</div>
                </div>
              }
            </div>
          </div>
        </h4>
      </div>
      @if (account.opened) {
        <div class="panel-body">
          @for (subAccount of account.subAccounts; track subAccount; let last = $last) {
            <div>
              <div class="row summary-balance-item" >
                <div class="col-lg-7 col-md-6 summary-balance-title">
                  @if (subAccount.icon) {
                    <img class="icon" [src]="subAccount.icon | assetImage:'account'">
                  }
                  <strong>{{subAccount.title}}</strong>
                  @if (subAccount.excludeFromTotals) {
                    <bk-popover glyphiconClass="exclamation-sign" text="Исключен из итогов" placement="left" spanClass="exclude-icon"></bk-popover>
                  }
                </div>
                <div class="col-lg-5 col-md-6">
                  @for (balanceItem of subAccount.balance | summaryBodySubAccount:conversionCurrency | summaryBalanceOrdering; track balanceItem) {
                    <div [ngClass]="{'row': true, 'negative-value': balanceItem.value < 0}">
                      <div class="col-lg-3 col-sm-7 col-md-5">
                        <strong>
                          <bk-currency-symbol [currencyName]="balanceItem.currency"></bk-currency-symbol>
                        </strong>
                      </div>
                      <div class="col-lg-9 col-sm-5 col-md-7 text-right">{{balanceItem.value | currencyValue:2}}</div>
                    </div>
                  }
                </div>
              </div>
              @if (!last) {
                <hr>
                }
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
