<h2 mat-dialog-title align="center">
  <span *ngIf="data.editMode">Редактирование <span *ngIf="isCategory()">категории</span><span *ngIf="!isCategory()">подкатегории</span></span>
  <span *ngIf="!data.editMode">Новая <span *ngIf="isCategory()">категория</span><span *ngIf="!isCategory()">подкатегория</span></span>
</h2>
<mat-dialog-content id="category-add-edit-dialog">
  <div *ngIf="errorMessage" class="alert alert-dismissable fade in alert-danger error">
    <strong>{{errorMessage}}</strong>
  </div>
  <div class="table">
    <div class="row title">
      <div class="col-md-3 left-column">Название:</div>
      <div class="col-md-9"><input type="text" [(ngModel)]="title" class="form-control"></div>
    </div>
    <div class="row" *ngIf="isCategory()">
      <div class="col-md-3 left-column">Иконка:</div>
      <div class="col-md-9 right-column">
        <span *ngFor="let categoryIcon of categoryIcons;" class="icon-wrapper">
          <img [ngClass]="{'category-icon':true, 'active-icon':categoryIcon===data.icon}"
               [src]="categoryIcon | assetImage:'category'"
               (click)="chooseIcon(categoryIcon)">
        </span>
      </div>
    </div>
    <div class="row" *ngIf="!isCategory()">
      <div class="col-md-3 left-column">Тип:</div>
      <div class="col-md-9 left-column" *ngIf="data.editMode">
        <span class="income-category value" *ngIf="data.subCategoryType === 'income'">Доходная</span>
        <span class="expense-category value" *ngIf="data.subCategoryType === 'expense'">Расходная</span>
      </div>
      <div class="col-md-9 right-column" *ngIf="!data.editMode">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="sub-category-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
            <span class="selected-type">
              <span class="income-category" *ngIf="data.subCategoryType === 'income'">Доходная</span>
              <span class="expense-category" *ngIf="data.subCategoryType === 'expense'">Расходная</span>
            </span>
            <span [ngClass]="{'caret': true, 'selected': data.subCategoryType}"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="sub-category-type">
            <li><a class="income-category" (click)="changeType('income')">Доходная</a></li>
            <li><a class="expense-category" (click)="changeType('expense')">Расходная</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="category-actions">
    <a class="btn btn-default category-action-item" (click)="close()">Закрыть</a>
    <span class="category-action-item">&nbsp;</span>
    <a class="btn btn-default category-action-item" (click)="save()">Сохранить</a>
  </span>
</mat-dialog-actions>
