.button-icon {
  top: 0;
}

.year-aria {
  min-width: 100px;
  border-right-width: 0;
}

.full-width, .month-dropdown-menu {
  width: 100%;
}

.month-dropdown-menu {
  left: 0;
}

.month-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.month-dropdown-caret {
  position: absolute;
  right: 7px;
  top: 14px;
}

.selected {
  background-color: #f5f5f5a3;
}

.month-dropdown-menu {
  min-width: 88px;
}

.month-dropdown-menu li {
  cursor: pointer;
}

.month-dropdown {
  height: 34px;
  padding-right: 15px;
  border-radius: 0;
  margin-right: -1px;
}

.month-right {
  border-radius: 0;
  margin-left: -2px;
}

.year-left {
  border-radius: 0;
  margin-left: -2px;
  margin-right: -1px;
}

.year-right {
  /*margin-left: -3px;*/
}
