.goal-group-active {
  background-color: #f5f5f5;
}

.goal-groups a {
  cursor: pointer;
}

.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0;
}

:host ::ng-deep bk-popover .goal-done {
  color: #5cb85c;
}

:host ::ng-deep bk-popover .action {
  margin-top: 2px;
}

.list-group {
  margin-bottom: 0;
}

.left-column {
  padding-right: 10px;
  padding-top: 1px;
}

.right-column {
  padding-left: 5px;
  min-height: 50px;
  max-height: 150px;
  overflow-x: visible !important;
  overflow-y: auto;
  position: static;
}

:host ::ng-deep bk-popover .status-icon {
  float: left;
  padding-right: 10px;
}

.progress-value {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.goal-popover-container {
  position: static;
  display: inline;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-top: 1px;
}

.progress {
  position: relative;
  margin-bottom: 0;
}

.goals-header {
  background-color: #cccccc;
  cursor: pointer;
}

.goals-header-selected {
  font-weight: bold;
}

.goals-count-indicator {
  float: right;
}

.selected-goal {
  font-weight: bold;
  border: 1px solid green;
  height: 22px;
}

.goal-name {
  position: absolute;
  padding-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.selectable-goal {
  cursor: pointer;
}

hr {
  margin-bottom: 5px;
  margin-top: 10px;
}

.list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.device-message-item {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.device-message-content {
  font-size: 12px;
  word-break: break-word;
}

.second-row {
  margin-top: 10px;
}
