<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">Бухгалтерия</span>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li class="divider-vertical"></li>
          <li routerLinkActive="active"><a [routerLink]="['budget']">Бюджет</a></li>
          <li routerLinkActive="active"><a [routerLink]="['history']">Учет</a></li>
          <li routerLinkActive="active" class="dropdown" *ngIf="needDisplayReports()">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Отчеты <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li routerLinkActive="active"><a [routerLink]="['reports', 'actions']">Операции за период</a></li>
              <li routerLinkActive="active"><a [routerLink]="['reports', 'summary']">Итоги за период</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active" *ngIf="isAdmin() | async"><a [routerLink]="['users']">Пользователи</a></li>
          <li routerLinkActive="active"><a [routerLink]="['settings']">Настройки</a></li>
          <li><a (click)="exit()">Выход</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
