<div class="panel panel-default" *ngIf="!loading; else loadingIndicator">
  <div class="panel-body">
    <bk-history-page-actions [loading]="loadingMoreIndicator" [disableMoreButton]="disableMoreButton" (loadMore)="loadMoreItems($event)"></bk-history-page-actions>

    <div class="table">
      <div class="row header">
        <div class="col-md-2">Дата</div>
        <div class="col-md-2">Сумма</div>
        <div class="col-md-3">Категория</div>
        <div class="col-md-3">Комментарий</div>
        <div class="col-md-2 text-center">Действия</div>
      </div>

      <div *ngFor="let historyGroup of historyItems | historyGroup; let lastGroup = last">
        <div class="row history-line" *ngFor="let historyItem of historyGroup.historyItems; let firstItem = first">
          <div class="col-md-4">
            <div [ngClass]="['no-left-right-padding', historyItem.goal ? 'col-md-5' : 'col-md-6']">
              <span *ngIf="firstItem">
                {{historyGroup.dateString}}
                <div class="footnote">{{historyGroup.dayOfWeek}}</div>
              </span>
            </div>
            <div *ngIf="historyItem.goal" class="glyphicon glyphicon-screenshot goal-icon col-md-1 no-left-right-padding"
                  popover="{{getGoalDescription(historyItem.goal)}}" popoverPlacement="top"
                  [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
            </div>
            <div class="col-md-6 no-right-padding" *ngIf="historyItem.type !== 'exchange'">
              <div [ngClass]="historyItem.type">
                {{historyItem.balance.value | currencyValue:false}} <bk-currency-symbol [currencyName]="historyItem.balance.currency"></bk-currency-symbol>
              </div>
              <div class="footnote" *ngIf="historyItem.type !== 'transfer'">{{historyItem.balance.subAccount}}</div>
            </div>
            <div class="col-md-6 no-right-padding" *ngIf="historyItem.type === 'exchange'">
              <img *ngIf="historyItem.icon" [src]="historyItem.icon | assetImage:'account'">
              <span class="description">{{historyItem.balance.account}}</span>
              <div class="footnote">{{historyItem.balance.subAccount}}</div>
            </div>
          </div>
          <div class="col-md-3" *ngIf="historyItem.type === 'expense' || historyItem.type === 'income'">
            <img *ngIf="historyItem.icon" [src]="historyItem.icon | assetImage:'category'">
            <span class="description">{{historyItem.category}}</span>
            <div class="footnote">{{historyItem.subCategory}}</div>
          </div>
          <div class="col-md-6" *ngIf="historyItem.type === 'transfer' || historyItem.type === 'exchange'">
            <div class="transfer-exchange-row" *ngIf="historyItem.type === 'transfer'">
              <div class="float-left">
                <img *ngIf="historyItem.icon" [src]="historyItem.icon | assetImage:'account'">
                <span class="description">{{historyItem.balance.subAccount}} ({{historyItem.balance.account}})</span>
              </div>
              <span class="glyphicon glyphicon-random transfer-exchange-icon float-left"></span>
              <div class="float-left">
                <img *ngIf="historyItem.additionalIcon" [src]="historyItem.additionalIcon | assetImage:'account'">
                <span class="description">{{historyItem.balance.subAccountTo}} ({{historyItem.balance.accountTo}})</span>
              </div>
            </div>
            <div class="transfer-exchange-row" *ngIf="historyItem.type === 'exchange'">
              <div class="float-left">
                <span class="description">
                  <strong><bk-currency-symbol [currencyName]="historyItem.balance.currency"></bk-currency-symbol></strong> {{historyItem.balance.value | currencyValue:true}}
                </span>
              </div>
              <span class="glyphicon glyphicon-transfer transfer-exchange-icon float-left"></span>
              <div class="float-left">
                <span class="description">
                  <strong><bk-currency-symbol [currencyName]="historyItem.balance.newCurrency"></bk-currency-symbol></strong> {{historyItem.balance.newValue | currencyValue:true}}
                </span>
              </div>
            </div>
            <div class="footnote">{{historyItem.description}}</div>
          </div>
          <div class="col-md-3 description" *ngIf="historyItem.type === 'expense' || historyItem.type === 'income'">{{historyItem.description}}</div>
          <div class="col-md-2 text-center">
            <span class="glyphicon glyphicon-pencil" (click)="editHistoryItem(historyItem)"
                  popover="Редактировать" popoverPlacement="top"
                  [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
            </span>
            <span class="glyphicon glyphicon-remove" (click)="deleteHistoryItem(historyItem)"
                  popover="Удалить" popoverPlacement="top"
                  [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
            </span>
          </div>
        </div>
        <hr *ngIf="!lastGroup">
      </div>
    </div>
    <bk-history-page-actions [loading]="loadingMoreIndicator" [disableMoreButton]="disableMoreButton" (loadMore)="loadMoreItems($event)"></bk-history-page-actions>
  </div>
</div>

<ng-template #loadingIndicator>
  <bk-spinner [size]="100"></bk-spinner>
</ng-template>
