<div class="panel panel-default" *ngIf="!loading; else loadingIndicator">
  <div class="panel-body">
    <bk-history-page-actions [loading]="loadingMoreIndicator" [disableMoreButton]="disableMoreButton" (loadMore)="showMoreHistoryItems()"></bk-history-page-actions>

    <div class="table">
      <div class="row header">
        <div class="col-md-2">Дата</div>
        <div class="col-md-2">Сумма</div>
        <div class="col-md-3">Категория</div>
        <div class="col-md-3">Комментарий</div>
        <div class="col-md-2 text-center">Действия</div>
      </div>

      <div *ngFor="let historyGroup of historyItems | historyGroup; let lastGroup = last">
        <div class="row history-line" *ngFor="let historyItem of historyGroup.historyItems; let firstItem = first">
          <div class="col-md-4">
            <div [ngClass]="{'no-left-right-padding': true, 'col-md-5': historyItem.goal, 'col-md-6': !historyItem.goal}">
              <span *ngIf="firstItem">
                {{historyGroup.dateString}}
                <div class="footnote">{{historyGroup.dayOfWeek}}</div>
              </span>
            </div>
            <div *ngIf="historyItem.goal" class="glyphicon glyphicon-screenshot goal-icon col-md-1 no-left-right-padding"
                  popover="{{getGoalDescription(historyItem.goal)}}" popoverPlacement="top"
                  [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
            </div>
            <div class="col-md-6 no-right-padding">
              <div [ngClass]="{'expense': historyItem.isExpense(), 'income': !historyItem.isExpense()}">
                {{historyItem.balance.value | currencyValue:false}} <bk-currency-symbol [currencyName]="historyItem.balance.currency"></bk-currency-symbol></div>
              <div class="footnote">{{historyItem.balance.subCategory}}</div>
            </div>
          </div>
          <div class="col-md-3">
            <img [src]="historyItem.icon">
            <span class="description">{{historyItem.category}}</span>
            <div class="footnote">{{historyItem.subCategory}}</div>
          </div>
          <div class="col-md-3 description">{{historyItem.description}}</div>
          <div class="col-md-2 text-center">
            <span class="glyphicon glyphicon-pencil" (click)="editHistoryItem(historyItem)"
                  popover="Редактировать" popoverPlacement="top"
                  [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
            </span>
            <span class="glyphicon glyphicon-remove" (click)="deleteHistoryItem(historyItem)"
                  popover="Удалить" popoverPlacement="top"
                  [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true">
            </span>
          </div>
        </div>
        <hr *ngIf="!lastGroup">
      </div>
    </div>
    <bk-history-page-actions [loading]="loadingMoreIndicator" [disableMoreButton]="disableMoreButton" (loadMore)="showMoreHistoryItems()"></bk-history-page-actions>
  </div>
</div>

<ng-template #loadingIndicator>
  <bk-spinner [size]="100"></bk-spinner>
</ng-template>
