.more-history-items {
  float: right;
  margin-left: 80px;
}

.device-message-toggle {
  position: absolute;
  right: 25px;
}

mat-slide-toggle {
  margin-top: 5px;
}

.device-message-label {
  position: absolute;
  top: 7px;
  margin-left: 5px;
}
