<div class="btn-group" role="group">
  <a class="btn btn-default" (click)="addHistoryItem()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить</a>
  <a *ngIf="!loading; else loadingIndicator" class="btn btn-default"
     (click)="showMoreHistoryItems()" [attr.disabled]="moreButtonDisabledValue()"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Следующие</a>
</div>

<bk-toggle class="sms-toggle" width="160" onValue="Необработанные" offValue="Все операции"
           [disabled]="unprocessedSmsCount === 0" [offBadgeValue]="unprocessedSmsCount" [value]="unprocessedSms" (onValueChanged)="showUnprocessedSms($event)"></bk-toggle>

<ng-template #loadingIndicator>
  <bk-spinner [size]="35" class="more-history-items"></bk-spinner>
</ng-template>
