@if (isInitialDataLoaded()) {
  <div class="container">
    <bk-header></bk-header>
    <div class="row">
      <bk-summary></bk-summary>
      <div id="details" class="col-sm-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
} @else {
  <div class="form">
    @if (authenticationCheckIndicator && !versionCheckIndicator) {
      <div class="table authentication-check">
        <div class="row">
          <div class="col-md-2 authentication-check-spinner">
            <bk-spinner [size]="35"></bk-spinner>
          </div>
          <div class="col-md-10 authentication-check-text">Проверка аутентификации...</div>
        </div>
      </div>
    }
    @if (versionCheckIndicator) {
      <div class="table authentication-check">
        <div class="row">
          <div class="col-sm-2 authentication-check-spinner">
            <bk-spinner [size]="35"></bk-spinner>
          </div>
          <div class="col-sm-10 authentication-check-text">Проверка версии...</div>
        </div>
      </div>
    }
    @if (versionError) {
      <div class="table authentication-check">
        <div class="row"><div class="col-sm-12 authentication-check-text">Версия сервера отличается.</div></div>
        <div class="row"><div class="col-sm-12 authentication-check-text">Сервер: {{serverVersion}}</div></div>
        <div class="row"><div class="col-sm-12 authentication-check-text">Клиент: {{uiVersion}}</div></div>
      </div>
    }
    @if (!authenticationCheckIndicator && !versionCheckIndicator && !versionError) {
      <router-outlet></router-outlet>
    }
  </div>
}


<footer class="footer text-center">
  <div class="container">
    <span class="text-muted">Версия: {{uiVersion}}</span>
  </div>
</footer>
