<div class="container" *ngIf="isInitialDataLoaded(); else authenticationContainer">
  <bk-header></bk-header>
  <div class="row">
    <bk-summary></bk-summary>

    <div id="details" class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #authenticationContainer>
  <div class="form">
    <div class="table authentication-check" *ngIf="authenticationCheckIndicator">
      <div class="row">
        <div class="col-md-2 authentication-check-spinner">
          <bk-spinner [size]="35"></bk-spinner>
        </div>
        <div class="col-md-10 authentication-check-text">Проверка аутентификации...</div>
      </div>
    </div>

    <router-outlet *ngIf="!authenticationCheckIndicator"></router-outlet>
  </div>
</ng-template>
