<div [ngClass]="{'dropdown': true, 'open': opened}" [style.width.px]="width" (click)="focusInput()">
  <input type="text" class="form-control" [value]="searchValue" (input)="search($event.target.value)" [placeholder]="placeholder" *ngIf="opened" bkFocus>
  <button class="btn btn-default dropdown-toggle" [style.display]="opened ? 'none' : 'block'" type="button" data-toggle="dropdown" (click)="openSelect()">
    <span class="selected-title text-muted" *ngIf="!isItemSelected()">{{placeholder}}</span>
    <span class="selected-title" *ngIf="isItemSelected()">
      <img class="icon" *ngIf="selectedItemIcon()" [src]="selectedItemIcon()">
      <span *ngFor="let selectedItem of selectedItems; let lastItem = last">{{selectedItem.title}} <span class="title-delimiter" *ngIf="!lastItem">>></span></span>
    </span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" [style.display]="opened ? 'block' : 'none'">
    <li class="crumbs" *ngIf="isItemSelected()">
      <span class="crumb-item clickable" (click)="switchToRootLevel()">Все</span>
      <span class="crumb-delimiter"> > </span>
      <img class="icon" *ngIf="selectedItems[0].icon" [src]="selectedItems[0].icon">
      <span class="crumb-item">{{selectedItems[0].title}}</span>
    </li>
    <li role="separator" class="divider" *ngIf="isItemSelected()"></li>
    <li *ngFor="let displayItem of displayItems" (click)="chooseItem(displayItem, searchInput)">
      <a class="clickable">
        <img class="icon" *ngIf="displayItem.icon" [src]="displayItem.icon">
        <span>{{displayItem.title}}</span>
        <span *ngIf="displayItem.parent">({{displayItem.parent.title}})</span>
        <button *ngIf="displayItem.children" class="btn btn-default show-child-group">&gt;</button>
      </a>
    </li>
  </ul>
</div>
