<div [ngClass]="{'dropdown': true, 'open': opened}" [style.width.px]="width" (click)="focusInput()" (clickOutside)="closeSelect()" bkClickOutside>
  <input type="text" class="form-control" [value]="searchValue" (input)="search($event.target.value)" [placeholder]="placeholder" *ngIf="opened" bkFocus>
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" (click)="openSelect()" *ngIf="!opened">
    <span class="selected-title text-muted" *ngIf="!isItemSelected()">{{placeholder}}</span>
    <span class="selected-title" *ngIf="isItemSelected()">
      <span *ngFor="let selectItem of selectedItem; let lastItem = last">{{selectItem}} <span class="title-delimiter" *ngIf="!lastItem">>></span></span>
    </span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="crumbs" *ngIf="isItemSelected()">
      <span class="crumb-item clickable" (click)="switchToRootLevel()">Все</span>
      <span class="crumb-delimiter"> > </span>
      <span class="crumb-item">{{selectedItem[0]}}</span>
    </li>
    <li role="separator" class="divider" *ngIf="isItemSelected()"></li>
    <li *ngFor="let displayItem of displayItems" (click)="chooseItem(displayItem, searchInput)">
      <a class="clickable">
        <span>{{displayItem.title}}</span>
        <span *ngIf="displayItem.parent">({{displayItem.parent.title}})</span>
        <button *ngIf="displayItem.children" class="btn btn-default show-child-group">&gt;</button>
      </a>
    </li>
  </ul>
</div>
