<h2 md-dialog-title align="center" #title>{{data.title}}</h2>
<md-dialog-content id="history-add-edit-dialog">
  <div *ngIf="errors" class="alert alert-dismissable fade in alert-danger error">
    <strong>{{errors}}</strong>
  </div>
  <div class="row">
    <div class="col-md-4 left-column">
      <my-date-picker [selDate]="selectedDate" [options]="datePickerOptions" (dateChanged)="onDateChanged($event)" locale="ru"></my-date-picker>
    </div>
    <div class="col-md-8 right-column">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" [ngClass]="{'active': isTypeSelected('expense')}" (click)="onChangeSelectedType('expense')"><a>Расход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('income')}" (click)="onChangeSelectedType('income')"><a>Доход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('transfer')}" (click)="onChangeSelectedType('transfer')"><a>Перевод</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('exchange')}" (click)="onChangeSelectedType('exchange')"><a>Обмен</a></li>
      </ul>

      <div class="input-group form-row">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle currency-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <bk-currency-symbol [currencyName]="historyItem.balance.currency"></bk-currency-symbol>&nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let currency of currencies">
              <a (click)="chooseCurrency(currency)">
                <bk-currency-symbol [currencyName]="currency.name"></bk-currency-symbol>
              </a>
            </li>
          </ul>
        </div>
        <input type="text" [(ngModel)]="historyItem.balance.value" class="form-control" [placeholder]="getValuePlaceholder()" bkCurrencyValue #balanceValue>
        <span class="input-group-btn" *ngIf="isTypeSelected('expense') || isTypeSelected('income')">
          <span class="btn btn-default" type="button" (click)="openCurrenciesPopup(balanceValue.value)" [attr.disabled]="disableAlternativeCurrencies(balanceValue.value)">Валюты</span>
        </span>
      </div>

      <div class="form-row" *ngIf="!isTypeSelected('exchange')">
        <bk-select [placeholder]="getAccountPlaceholder()" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
      </div>
      <div class="input-group form-row" *ngIf="isTypeSelected('exchange')">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle currency-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <bk-currency-symbol [currencyName]="historyItem.balance.newCurrency"></bk-currency-symbol>&nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let currency of currencies">
              <a (click)="chooseNewCurrency(currency)">
                <bk-currency-symbol [currencyName]="currency.name"></bk-currency-symbol>
              </a>
            </li>
          </ul>
        </div>
        <input type="text" [(ngModel)]="historyItem.balance.newValue" class="form-control" placeholder="Стало" bkCurrencyValue>
      </div>

      <div class="form-row" *ngIf="isTypeSelected('expense') || isTypeSelected('income')">
        <bk-select placeholder="Категория" [items]="categories" [(selectedItems)]="selectedCategory"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('transfer')">
        <bk-select placeholder="На счет" [items]="accounts" [(selectedItems)]="selectedToAccount"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('exchange')">
        <bk-select placeholder="Со счета" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
      </div>

      <div class="form-row">
        <input type="text" [(ngModel)]="historyItem.description" class="form-control" placeholder="Комментарий">
      </div>
    </div>
  </div>
  <bk-goals-container *ngIf="isTypeSelected('expense') || isTypeSelected('income')"></bk-goals-container>
</md-dialog-content>
<md-dialog-actions>
  <span class="history-actions">
    <a class="btn btn-default history-action-item" (click)="close()">Закрыть</a>
    <span class="history-action-item">&nbsp;</span>
    <a class="btn btn-default history-action-item" (click)="save()">Сохранить</a>
  </span>
</md-dialog-actions>
