<h2 md-dialog-title align="center" #title>
  <span *ngIf="data.editMode">Редактирование операции</span>
  <span *ngIf="!data.editMode">Новая операция</span>
</h2>
<md-dialog-content id="history-add-edit-dialog">
  <div *ngIf="errors" class="alert alert-dismissable fade in alert-danger error">
    <strong>{{errors}}</strong>
  </div>
  <div class="row">
    <div class="col-md-4 left-column">
      <my-date-picker [selDate]="selectedDate" [options]="datePickerOptions" (dateChanged)="onDateChanged($event)" locale="ru"></my-date-picker>
    </div>
    <div class="col-md-8 right-column">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" [ngClass]="{'active': isTypeSelected('expense')}" (click)="onChangeSelectedType('expense')"><a>Расход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('income')}" (click)="onChangeSelectedType('income')"><a>Доход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('transfer')}" (click)="onChangeSelectedType('transfer')"><a>Перевод</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('exchange')}" (click)="onChangeSelectedType('exchange')"><a>Обмен</a></li>
      </ul>

      <div class="form-row">
        <bk-input-group [historyItem]="historyItem" [alternativeCurrencyLoading]="alternativeCurrencyLoading"
                        [currencies]="currencies" [selectedCurrency]="historyItem.balance.currency" (chooseCurrency)="changeCurrency($event)"
                        [inputValue]="historyItem.balance.value" (changeInputValue)="historyItem.balance.value = $event">
        </bk-input-group>
      </div>

      <div class="form-row" *ngIf="!isTypeSelected('exchange')">
        <bk-select [placeholder]="getAccountPlaceholder()" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('exchange')">
        <bk-input-group [historyItem]="historyItem" [alternativeCurrencyLoading]="alternativeCurrencyLoading"
                        [currencies]="currencies" [selectedCurrency]="historyItem.balance.newCurrency" (chooseCurrency)="changeNewCurrency($event)"
                        [inputValue]="historyItem.balance.newValue" (changeInputValue)="historyItem.balance.newValue = $event">
        </bk-input-group>
      </div>

      <div class="form-row" *ngIf="isTypeSelected('expense') || isTypeSelected('income')">
        <bk-select placeholder="Категория" [items]="categories" [(selectedItems)]="selectedCategory"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('transfer')">
        <bk-select placeholder="На счет" [items]="accounts" [(selectedItems)]="selectedToAccount"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('exchange')">
        <bk-select placeholder="Со счета" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
      </div>

      <div class="form-row">
        <input type="text" [(ngModel)]="historyItem.description" class="form-control" placeholder="Комментарий">
      </div>
    </div>
  </div>
  <bk-goals-container [selectedCategory]="selectedCategory[0].title" [selectedDate]="selectedDate" [editMode]="data.editMode" [alternativeCurrencyLoading]="alternativeCurrencyLoading"
                      [historyItem]="historyItem" (statusChange)="onSelectedGoalStatusChange($event)" *ngIf="showGoalContainer()"></bk-goals-container>
</md-dialog-content>
<md-dialog-actions>
  <span class="history-actions">
    <a class="btn btn-default history-action-item" (click)="close()">Закрыть</a>
    <span class="history-action-item">&nbsp;</span>
    <a class="btn btn-default history-action-item" (click)="save()">Сохранить</a>
  </span>
</md-dialog-actions>
