<ul class="dropdown-menu" [ngClass]="{'check-all-width': checkAllButton && !nextLevels}"
  [attr.role]="!nextLevels ? 'menu' : null" [attr.aria-labelledby]="!nextLevels ? 'dropdownMenu' : null" [bkStopPropagation]="stopPropagation">
  @if (checkAllButton && !nextLevels) {
    <li><a class="element-title check-all" (click)="checkAll()">
      @if (isAllChecked()) {
        <span>Снять выделения</span>
      }
      @if (!isAllChecked()) {
        <span>Выделить все</span>
      }
    </a></li>
  }
  @if (checkAllButton && !nextLevels) {
    <li role="separator" class="divider"></li>
  }
  @for (item of dataModel; track item) {
    <li [ngClass]="{'dropdown-submenu': item.children}">
      <a>
        <bk-three-state-checkbox class="bk-checkbox" [state]="item.state" (stateChanged)="changeCheckboxState(item, $event)"></bk-three-state-checkbox>
        @if (item.icon) {
          <img class="icon" [src]="item.icon">
        }
        <span class="vertical-middle element-title" (click)="changeState(item)">{{item.title}}</span>
      </a>
      @if (item.children) {
        <bk-multi-level-dropdown-level [dataModel]="item.children" [nextLevels]="true" [stopPropagation]="stopPropagation" [alternativeSelection]="false"
        (childStateChange)="onChildStateChange($event)"></bk-multi-level-dropdown-level>
      }
    </li>
  }
</ul>
