.row {
  margin: 0;
}

.glyphicon {
  cursor: pointer;
  color: #999;
}

:host ::ng-deep bk-popover .done, .done {
  color: #5cb85c;
}

:host ::ng-deep bk-month-progress .month-progress-container {
  margin-left: 45px;
  margin-right: 48px;
}

.glyphicon:hover {
  color: #5e5e5e;
}

/*main tables header*/

.budget-panel {
  margin-top: 10px;
  margin-bottom: 0;
}

.budget-panel .panel-heading {
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 5px 10px;
}

.budget-panel .type-and-goal {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding-left: 0;
}

.not-planed {
  color: #dd0000;
  font-weight: bold;
}

.excess {
  color: #dd0000;
}

.income {
  float: left;
  font-weight: bold;
  color: #009900;
}

.expense {
  color: #dd0000;
  float: left;
  font-weight: bold;
}

.budget-panel .badge-income {
  background-color: #009900;
  float: right;
}

.budget-panel .badge-expense {
  background-color: #dd0000;
  float: right;
}

.black {
  color: black;
}

.no-right-padding {
  padding-right: 0;
}

.header-currency {
  font-weight: bold;
  float: right;
  width: 30px;
}

.header-current {
  float: right;
  width: 70px;
}

.header-from {
  float: right;
  width: 15px;
  margin: 0 7px;
  font-weight: bold;
}

.header-expected {
  float: right;
  width: 70px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.budget-panel .panel-heading {
  cursor: pointer;
}

/*Main tables*/

.no-goals {
  margin-right: 19px;
}

.body-row {
  display: flex;
}

.expand-icon {
  float: left;
  padding-left: 5px;
}

.category-progress {
  float: left;
  width: 100%;
  margin-left: 5px;
  margin-right: 10px;
}

.category-title {
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.category-value {
  position: absolute;
  right: 5px;
}

.vertical-middle {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.full-height {
  height: 100%;
}

.delete-button {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.done-icon {
  float: left;
  padding-left: 45px;
}

.move-icon {
  float: left;
  padding-left: 5px;
}

.category-icon-wrapper {
  padding-left: 5px;
}

.goal-progress {
  float: left;
  width: 100%;
  margin-left: 7px;
  margin-right: 10px;
}

.goal-title {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.progress {
  position: relative;
  margin-bottom: 0;
}

.no-remove-button {
  min-width: 24px;
}

.type {
  padding-left: 5px;
}

.badge {
  position: absolute;
  left: 110px;
  margin-top: 1px;
}

.single-currency {
  padding-top: 5px;
}

.budget-details {
  background-color: #adadad;
}

.budget-details-progress {
  min-height: 30px;
  border-radius: 3px 3px 0 0;
}

.percent {
  font-style: italic;
  font-weight: normal;
}

@media (min-width: 768px) and (max-width: 992px) {
  .budget-panel .type-and-goal {
    padding-right: 0;
  }
}
