<div class="panel panel-default budget-panel">
  <div class="panel-heading" (click)="toggleBudgetDetails()" style="padding: 0;">
    <div class="progress budget-details-progress" [style.height.px]="getNumberOfCurrencies(budgetDetails.balance) * 20">
      <div class="progress-bar budget-details" [style.width.%]="getBudgetPercentDone()"></div>
      <span class="category-title full-height">
        <span class="vertical-middle">
          @if (type === 'income') {
            <span class="type income">Доход (<span class="percent">{{getBudgetFullPercentDone() | currencyValue:0}}%</span>)</span>
          }
          @if (type === 'expense') {
            <span class="type expense">Расход (<span class="percent">{{getBudgetFullPercentDone() | currencyValue:0}}%</span>)</span>
          }
          <span class="badge" [ngClass]="{'badge-income': type === 'income', 'badge-expense': type === 'expense'}">
            <span class="black">Цели:</span> {{goalsDone}} <span class="black">из</span> {{goalsCount}}
          </span>
        </span>
      </span>
      <div class="vertical-middle">
        @for (convertedBalance of budgetDetails.balance | budgetBalanceConversion:conversionCurrency:budget.year:budget.month; track convertedBalance.currency; let currencyIndex = $index) {
          <div class="category-value" [style.top.px]="currencyIndex * 20" [ngClass]="{'single-currency': conversionCurrency || isSingleCurrency()}">
            <span class="header-expected" [ngClass]="{'not-planed': convertedBalance.completeValue === 0}">{{convertedBalance.completeValue | currencyValue:2:true}}</span>
            <span class="header-from">из</span>
            <span class="text-right header-current" [ngClass]="{'not-planed': (type === 'expense' && convertedBalance.value > convertedBalance.completeValue)}">{{convertedBalance.value | currencyValue:2:true}}</span>
            <span class="header-currency" [ngClass]="{'not-planed': convertedBalance.completeValue === 0}"><bk-currency-symbol [currencyName]="convertedBalance.currency"></bk-currency-symbol></span>
          </div>
        }
      </div>
    </div>
  </div>

  @if (budgetDetails.opened) {
    <div>
      @if (budgetDetails.categories.length === 0) {
        <div class="text-center">Нет запланированных категорий</div>
      }
      @if (budgetDetails.categories.length > 0) {
        <div>
          @for (category of budgetDetails.categories | categorySort; track category; let firstCategory = $first; let lastCategory = $last) {
            <div>
              <bk-template-variable #categoryPercent [value]="calculateCategoryPercentDone(category)"></bk-template-variable>
              @if (firstCategory) {
                <bk-month-progress [height]="10" [progress]="monthProgress"></bk-month-progress>
              }
              <div class="row body-row">
                @if (category.goals.length === 0) {
                  <span class="no-goals"></span>
                }
                @if (category.goals.length > 0 && category.opened) {
                  <span class="glyphicon glyphicon-chevron-down expand-icon vertical-middle" [ngClass]="{'done': isAllGoalsDone(category)}" (click)="category.opened = !category.opened"></span>
                }
                @if (category.goals.length > 0 && !category.opened) {
                  <span class="glyphicon glyphicon-chevron-right expand-icon vertical-middle" [ngClass]="{'done': isAllGoalsDone(category)}" (click)="category.opened = !category.opened"></span>
                }
                <span class="vertical-middle category-icon-wrapper"><img class="icon" [src]="getCategoryIcon(category.title) | assetImage:'category'"></span>
                <div class="progress category-progress" [style.height.px]="getNumberOfCurrencies(category.balance) * 20">
                  <div class="progress-bar" [ngClass]="calculateStyle(categoryPercent.value)" [style.width.%]="categoryPercent.value"></div>
                  <span class="category-title full-height">
                    <span class="vertical-middle">{{category.title}}
                      @if (showCategoryPercent(category)) {
                        <span>
                          &nbsp;(<span class="percent" [ngClass]="{'excess': type === 'expense' && calculateCategoryFullPercentDone(category) > 100}">{{calculateCategoryFullPercentDone(category) | currencyValue:0}}%</span>)
                        </span>
                      }
                    </span>
                  </span>
                  @for (convertedBalance of category.balance | budgetBalanceConversion:conversionCurrency:budget.year:budget.month; track convertedBalance.currency; let currencyIndex = $index) {
                    <span class="category-value" [style.top.px]="currencyIndex * 20">
                      <span [ngClass]="{'not-planed': (type === 'expense' && convertedBalance.value > convertedBalance.completeValue)}">{{convertedBalance.value | currencyValue:2:true}}</span> из
                      <span [ngClass]="{'not-planed': convertedBalance.completeValue === 0}">
                        {{convertedBalance.completeValue | currencyValue:2:true}}
                        <strong><bk-currency-symbol [currencyName]="convertedBalance.currency"></bk-currency-symbol></strong>
                      </span>
                    </span>
                  }
                </div>
                <bk-popover class="edit-button vertical-middle float-left" glyphiconClass="pencil" placement="left" text="Редактировать категорию" (click)="openCategoryEditDialog(category)"></bk-popover>
                @if (!showRemoveButton(category.balance)) {
                  <span class="no-remove-button"></span>
                }
                @if (showRemoveButton(category.balance)) {
                  <bk-popover class="delete-button vertical-middle" glyphiconClass="remove" placement="left" text="Удалить категорию" (click)="removeCategory(category)"></bk-popover>
                }
              </div>
              @if (category.opened) {
                <div>
                  @for (goal of category.goals | goalSort; track goal; let firstGoal = $first; let lastGoal = $last) {
                    <div>
                      <bk-template-variable #goalPercent [value]="calculateGoalPercentDone(goal)"></bk-template-variable>
                      <bk-template-variable #convertedGoalBalance [value]="goal.balance | budgetGoalBalanceConversion:conversionCurrency:budget.year:budget.month"></bk-template-variable>
                      @if (firstGoal) {
                        <bk-month-progress [height]="5" [progress]="monthProgress"></bk-month-progress>
                      }
                      <div class="row body-row">
                        <bk-popover class="done-icon" glyphiconClass="ok" [conditionalClass]="{'done': goal.done}" placement="left"
                        [text]="goal.done ? 'Пометить невыполненным' : 'Пометить выполненным'" (click)="clickGoalDone(category, goal)"></bk-popover>
                        <bk-popover class="move-icon" glyphiconClass="log-in" placement="left" text="Отложить выполнение" (click)="moveGoal(category, goal)"></bk-popover>
                        <div class="progress goal-progress">
                          <div class="progress-bar" [ngClass]="calculateGoalStyle(goal, goalPercent.value)" [style.width.%]="goalPercent.value"></div>
                          <span class="goal-title">{{goal.title}} (<span class="percent">{{(goal.balance.value / goal.balance.completeValue * 100) | currencyValue:0}}%</span>)</span>
                          <span class="category-value">
                            <span [ngClass]="{'not-planed': (type === 'expense' && convertedGoalBalance.value.value > convertedGoalBalance.value.completeValue)}">{{convertedGoalBalance.value.value | currencyValue:2:true}}</span>
                            из {{convertedGoalBalance.value.completeValue | currencyValue:2:true}}
                            <strong><bk-currency-symbol [currencyName]="convertedGoalBalance.value.currency"></bk-currency-symbol></strong>
                          </span>
                        </div>
                        <bk-popover class="edit-button float-left" glyphiconClass="pencil" placement="left" text="Редактировать цель" (click)="openGoalEditDialog(category, goal)"></bk-popover>
                        @if (goal.balance.value !== 0) {
                          <span class="no-remove-button"></span>
                        }
                        @if (goal.balance.value === 0) {
                          <bk-popover class="delete-button" glyphiconClass="remove" placement="left" text="Удалить цель" (click)="removeGoal(category, goal)"></bk-popover>
                        }
                      </div>
                      @if (!lastGoal) {
                        <bk-month-progress [height]="5" [progress]="monthProgress"></bk-month-progress>
                      }
                    </div>
                  }
                </div>
              }
              @if (!lastCategory) {
                <bk-month-progress [height]="category.opened ? 5 : 10" [progress]="monthProgress"></bk-month-progress>
              }
              @if (lastCategory) {
                <bk-month-progress [height]="10" [progress]="monthProgress"></bk-month-progress>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</div>
