.summary-heading {
  background-color: #cccccc;
  border-color: #adadad;
  font-weight: bold;
}

.summary-heading-title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.summary {
  border-color: #adadad;
}

.summary-footer {
  background-color: #cccccc;
  border-color: #adadad;
  font-size: 15px;
}

.panel-body {
  padding: 10px;
}
