<div id="summary" class="col-lg-4">
  <div class="panel panel-primary summary">
    <div class="panel-heading summary-heading">
      <span class="summary-heading-title">Финансовое состояние:</span>
      <bk-currency-conversion (currencyConversion)="setSummaryConversion($event)"></bk-currency-conversion>
    </div>
    <div class="panel-body">
      <bk-summary-body *ngIf="!loading; else loadingIndicator"
                       [categories]="categories"
                       [conversionCurrency]="conversionCurrency">
      </bk-summary-body>
    </div>
    <div *ngIf="!loading" class="panel-footer summary-footer">
      <bk-summary-footer [categories]="categories" [conversionCurrency]="conversionCurrency"></bk-summary-footer>
    </div>
  </div>
</div>

<ng-template #loadingIndicator>
  <bk-spinner></bk-spinner>
</ng-template>
