.page-title {
  padding-bottom: 15px;
  font-size: 16px;
}

.page-title-text {
  line-height: 34px;
}

.category-separator {
  border-width: initial;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.glyphicon {
  cursor: pointer;
  color: #999;
}

.glyphicon:hover {
  color: #5e5e5e;
}

.tree-icon {
  padding-left: 5px;
}

.account-title {
  padding-left: 9px;
}

:host ::ng-deep bk-popover .action {
  padding-right: 5px;
}

.empty-action {
  padding-right: 15px;
}

.sub-account {
  padding-left: 45px;
  padding-right: 15px;
}

.sub-account .col-sm-8 {
  padding-left: 0;
}

.sub-account .col-sm-4 {
  padding-right: 0;
}

.icon {
  padding-bottom: 2px;
  padding-right: 5px;
}
