<div class="text-center page-title">
  <button type="button" class="btn btn-default pull-left" [disabled]="loading" (click)="addAccount()">Добавить счет</button>
  <span class="page-title-text">Конфигурация счетов и субсчетов</span>
</div>

<div class="table" *ngIf="!loading; else loadingIndicator">
  <div *ngFor="let account of profile.accounts; let lastAccount = last; let firstAccount = first;">
    <hr *ngIf="firstAccount" />
    <div class="row">
      <div class="col-sm-8">
        <span *ngIf="hasSubAccounts(account) && !account.settingsOpened" class="tree-icon glyphicon glyphicon-chevron-right" (click)="account.settingsOpened = !account.settingsOpened"></span>
        <span *ngIf="hasSubAccounts(account) && account.settingsOpened" class="tree-icon glyphicon glyphicon-chevron-down" (click)="account.settingsOpened = !account.settingsOpened"></span>
        <span class="account-title" (click)="account.settingsOpened = !account.settingsOpened">{{account.title}}</span>
      </div>
      <div class="col-sm-4 text-right">
        <bk-popover glyphiconClass="plus" text="Добавить субсчет" placement="left" (click)="addSubAccount(account)"></bk-popover>
        <bk-popover glyphiconClass="pencil" text="Редактировать счет" placement="left" (click)="editAccount(account)"></bk-popover>
        <bk-popover glyphiconClass="remove" text="Удалить cчет" placement="left" (click)="deleteAccount(account)"></bk-popover>
        <bk-popover glyphiconClass="arrow-down" text="Переместить ниже" placement="left" (click)="moveAccountDown(account)" *ngIf="!lastAccount"></bk-popover>
        <span *ngIf="lastAccount" class="empty-action">&nbsp;</span>
        <bk-popover glyphiconClass="arrow-up" text="Переместить выше" placement="left" (click)="moveAccountUp(account)" *ngIf="!firstAccount"></bk-popover>
        <span *ngIf="firstAccount" class="empty-action">&nbsp;</span>
      </div>
    </div>
    <div *ngIf="account.settingsOpened">
      <div class="row sub-account" *ngFor="let subAccount of account.subAccounts; let lastSubAccount = last; let firstSubAccount = first;">
        <hr/>
        <div class="col-sm-8">
          <img class="icon" [src]="subAccount.icon | assetImage:'account'">
          <span>{{subAccount.title}}</span>
        </div>
        <div class="col-sm-4 text-right">
          <bk-popover glyphiconClass="piggy-bank" text="Редактировать остатки" placement="left" (click)="editSubAccountBalance(account, subAccount)"></bk-popover>
          <bk-popover glyphiconClass="pencil" text="Редактировать" placement="left" (click)="editSubAccount(account, subAccount)"></bk-popover>
          <bk-popover glyphiconClass="remove" text="Редактировать" placement="left" (click)="deleteSubAccount(account, subAccount)"></bk-popover>
          <bk-popover glyphiconClass="arrow-down" text="Переместить ниже" placement="left" (click)="moveSubAccountDown(account, subAccount)" *ngIf="!lastSubAccount"></bk-popover>
          <span *ngIf="lastSubAccount" class="empty-action">&nbsp;</span>
          <bk-popover glyphiconClass="arrow-up" text="Переместить выше" placement="left" (click)="moveSubAccountUp(account, subAccount)" *ngIf="!firstSubAccount"></bk-popover>
          <span *ngIf="firstSubAccount" class="empty-action">&nbsp;</span>
        </div>
      </div>
    </div>
    <hr/>
  </div>
</div>

<ng-template #loadingIndicator>
  <bk-spinner [size]="80"></bk-spinner>
</ng-template>
