<div class="container ">
  <bk-header></bk-header>
  <div class="row">
    <bk-summary></bk-summary>

    <div id="details" class="col-lg-8">
      <div class="alert alert-success alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
      </div>

      <router-outlet></router-outlet>
    </div>

  </div>

    <!--<div id="details" class="col-lg-8">
      &lt;!&ndash; ngRepeat: alert in alerts &ndash;&gt;
      <div class="panel panel-default">
        &lt;!&ndash; ngView:  &ndash;&gt;<div class="panel-body " ng-view=""><div class="btn-group history-actions-top " role="group">
        <a class="btn btn-default">Добавить операцию</a>
        <a class="btn btn-default" ng-click="historyContr.showMore()">Показать больше операций</a>
      </div>

        <div class="table ">
          <div class="row header">
            <div class="col-md-2">Дата</div>
            <div class="col-md-2">Сумма</div>
            <div class="col-md-2">Категория</div>
            <div class="col-md-4">Комментарий</div>
            <div class="col-md-2 text-right">Действия</div>
          </div>

          &lt;!&ndash; ngRepeat: (historyGroup, historyItems) in historyContr.history &ndash;&gt;<div ng-repeat="(historyGroup, historyItems) in historyContr.history" class="">
          &lt;!&ndash; ngRepeat: historyItem in historyItems &ndash;&gt;<div class="row " ng-repeat="historyItem in historyItems">
          <div class="col-md-2">
                <span ng-hide="!$first" class="ng-binding">
                    29.10.2010
                    <div class="footnote ng-binding">
                        пятница
                    </div>
                </span>
          </div>
          <div class="col-md-2">
            <div ng-class="{income : configContr.isAmountPositive(historyItem.amount), expenditure : !configContr.isAmountPositive(historyItem.amount)}" class="ng-binding expenditure">
              5'600
              $
            </div>
            <div class="footnote ng-binding">Наличные</div>
          </div>
          <div class="col-md-2">
            <img ng-src="assets/image/home.gif" src="assets/image/home.gif">
            <span class="description ng-binding">Питание</span>
            <div class="footnote ng-binding">Продукты питания</div>
          </div>
          <div class="col-md-4 description ng-binding">Детское питание с очень длинным названием</div>
          <div class="col-md-2 text-center">
            <a href="" popover="Редактировать" popover-trigger="mouseenter" ng-click="historyContr.openEditPopup(historyItem)">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="" popover="Удалить" popover-trigger="mouseenter" ng-click="historyContr.deleteHistoryItem(historyItem)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>&lt;!&ndash; end ngRepeat: historyItem in historyItems &ndash;&gt;<div class="row " ng-repeat="historyItem in historyItems">
          <div class="col-md-2">
                <span ng-hide="!$first" class="ng-binding ng-hide">
                    29.10.2010
                    <div class="footnote ng-binding">
                        пятница
                    </div>
                </span>
          </div>
          <div class="col-md-2">
            <div ng-class="{income : configContr.isAmountPositive(historyItem.amount), expenditure : !configContr.isAmountPositive(historyItem.amount)}" class="ng-binding income">
              5'600
              $
            </div>
            <div class="footnote ng-binding">Наличные</div>
          </div>
          <div class="col-md-2">
            <img ng-src="assets/image/home.gif" src="assets/image/home.gif">
            <span class="description ng-binding">Питание</span>
            <div class="footnote ng-binding">Продукты питания</div>
          </div>
          <div class="col-md-4 description ng-binding">Детское питание</div>
          <div class="col-md-2 text-center">
            <a href="" popover="Редактировать" popover-trigger="mouseenter" ng-click="historyContr.openEditPopup(historyItem)">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="" popover="Удалить" popover-trigger="mouseenter" ng-click="historyContr.deleteHistoryItem(historyItem)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>&lt;!&ndash; end ngRepeat: historyItem in historyItems &ndash;&gt;
          <hr ng-hide="$last">
        </div>&lt;!&ndash; end ngRepeat: (historyGroup, historyItems) in historyContr.history &ndash;&gt;<div ng-repeat="(historyGroup, historyItems) in historyContr.history" class="">
          &lt;!&ndash; ngRepeat: historyItem in historyItems &ndash;&gt;<div class="row " ng-repeat="historyItem in historyItems">
          <div class="col-md-2">
                <span ng-hide="!$first" class="ng-binding">
                    28.10.2010
                    <div class="footnote ng-binding">
                        четверг
                    </div>
                </span>
          </div>
          <div class="col-md-2">
            <div ng-class="{income : configContr.isAmountPositive(historyItem.amount), expenditure : !configContr.isAmountPositive(historyItem.amount)}" class="ng-binding expenditure">
              3'600
              $
            </div>
            <div class="footnote ng-binding">Наличные</div>
          </div>
          <div class="col-md-2">
            <img ng-src="assets/image/home.gif" src="assets/image/home.gif">
            <span class="description ng-binding">Питание</span>
            <div class="footnote ng-binding">Продукты питания</div>
          </div>
          <div class="col-md-4 description ng-binding">Детское питание</div>
          <div class="col-md-2 text-center">
            <a href="" popover="Редактировать" popover-trigger="mouseenter" ng-click="historyContr.openEditPopup(historyItem)">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="" popover="Удалить" popover-trigger="mouseenter" ng-click="historyContr.deleteHistoryItem(historyItem)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>&lt;!&ndash; end ngRepeat: historyItem in historyItems &ndash;&gt;
          <hr ng-hide="$last" class="ng-hide">
        </div>&lt;!&ndash; end ngRepeat: (historyGroup, historyItems) in historyContr.history &ndash;&gt;
        </div>

        <div class="btn-group " role="group">
          <a class="btn btn-default">Добавить операцию</a>
          <a class="btn btn-default" ng-click="historyContr.showMore()">Показать больше операций</a>
        </div></div>
      </div>
    </div>-->
</div>

