<div class="panel-group" >
  <!-- ngRepeat: summaryAccount in summaryContr.summary --><div class="panel panel-default ng-isolate-scope" ng-repeat="summaryAccount in summaryContr.summary" is-open="summaryAccount.accountExpand">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="javascript:void(0)" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading">
        <div class="clearfix account-summary ">
          <div class="col-lg-7"><strong><em class="ng-binding">Деньги</em></strong></div>
          <div class="col-lg-5">
            <!-- ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting --><div class="row currency-summary " ng-repeat="accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">Br</strong></div>
            <div class="col-lg-9 ng-binding">12'365'000</div>
          </div><!-- end ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting --><div class="row currency-summary " ng-repeat="accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">$</strong></div>
            <div class="col-lg-9 ng-binding">5'337.05</div>
          </div><!-- end ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting --><div class="row currency-summary " ng-repeat="accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">€</strong></div>
            <div class="col-lg-9 ng-binding">44.18</div>
          </div><!-- end ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting -->
          </div>
        </div>
      </a>
    </h4>
  </div>
  <div class="panel-collapse in" collapse="!isOpen" style="height: auto;">
    <div class="panel-body" ng-transclude="">
      <!--<accordion-heading class=""></accordion-heading>-->
      <div class="account-details ">
        <!-- ngRepeat: subAccount in summaryAccount.subAccounts --><div ng-repeat="subAccount in summaryAccount.subAccounts" class="">
        <div class="row">
          <div class="col-lg-7"><strong><em class="ng-binding">Наличные</em></strong></div>
          <div class="col-lg-5">
            <!-- ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">Br</strong></div>
            <div class="col-lg-9 ng-binding">12'365'000</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">$</strong></div>
            <div class="col-lg-9 ng-binding">5'325.8</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">€</strong></div>
            <div class="col-lg-9 ng-binding">25.38</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting -->
          </div>
        </div>
        <hr ng-hide="$last">
      </div><!-- end ngRepeat: subAccount in summaryAccount.subAccounts --><div ng-repeat="subAccount in summaryAccount.subAccounts" class="">
        <div class="row">
          <div class="col-lg-7"><strong><em class="ng-binding">Резерв</em></strong></div>
          <div class="col-lg-5">
            <!-- ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">$</strong></div>
            <div class="col-lg-9 ng-binding">11.25</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">€</strong></div>
            <div class="col-lg-9 ng-binding">18.8</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting -->
          </div>
        </div>
        <hr ng-hide="$last" class="ng-hide">
      </div><!-- end ngRepeat: subAccount in summaryAccount.subAccounts -->
      </div>
    </div>
  </div>
</div><!-- end ngRepeat: summaryAccount in summaryContr.summary --><div class="panel panel-default ng-isolate-scope" ng-repeat="summaryAccount in summaryContr.summary" is-open="summaryAccount.accountExpand">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="javascript:void(0)" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading">
        <div class="clearfix account-summary ">
          <div class="col-lg-7"><strong><em class="ng-binding">Сбережения</em></strong></div>
          <div class="col-lg-5">
            <!-- ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting --><div class="row currency-summary " ng-repeat="accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">Br</strong></div>
            <div class="col-lg-9 ng-binding">125'968'000</div>
          </div><!-- end ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting --><div class="row currency-summary " ng-repeat="accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">$</strong></div>
            <div class="col-lg-9 ng-binding">11</div>
          </div><!-- end ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting --><div class="row currency-summary " ng-repeat="accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">€</strong></div>
            <div class="col-lg-9 ng-binding">12</div>
          </div><!-- end ngRepeat: accountSum in summaryAccount.accountSums | orderBy:configContr.currencySorting -->
          </div>
        </div>
      </a>
    </h4>
  </div>
  <div class="panel-collapse in" collapse="!isOpen" style="height: auto;">
    <div class="panel-body" ng-transclude="">
      <!--<accordion-heading class=""></accordion-heading>-->
      <div class="account-details ">
        <!-- ngRepeat: subAccount in summaryAccount.subAccounts --><div ng-repeat="subAccount in summaryAccount.subAccounts" class="">
        <div class="row">
          <div class="col-lg-7"><strong><em class="ng-binding">Наличные</em></strong></div>
          <div class="col-lg-5">
            <!-- ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">Br</strong></div>
            <div class="col-lg-9 ng-binding">125'968'000</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">$</strong></div>
            <div class="col-lg-9 ng-binding">11</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting --><div class="row currency-details " ng-repeat="subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting">
            <div class="col-lg-3 text-right"><strong class="ng-binding">€</strong></div>
            <div class="col-lg-9 ng-binding">12</div>
          </div><!-- end ngRepeat: subAccountCurrencyDetail in subAccount.subAccountCurrencyDetails | orderBy:configContr.currencySorting -->
          </div>
        </div>
        <hr ng-hide="$last" class="ng-hide">
      </div><!-- end ngRepeat: subAccount in summaryAccount.subAccounts -->
      </div>
    </div>
  </div>
</div><!-- end ngRepeat: summaryAccount in summaryContr.summary -->
</div>
