<div class="panel-group">
  <div class="panel panel-default" *ngFor="let category of categories">
    <div class="panel-heading" (click)="changeOpenState(category)">
      <h4 class="panel-title">
          <div class="clearfix">
            <div class="col-lg-7"><strong><em>{{category.name}}</em></strong></div>
            <div class="col-lg-5">
              <div class="row" *ngFor="let balanceItem of category | summaryBodyCategory:conversionCurrency | summaryBalanceOrdering">
                <div class="col-lg-3 text-right">
                  <strong>
                    <bk-currency-symbol [currencyName]="balanceItem.currency"></bk-currency-symbol>
                  </strong>
                </div>
                <div class="col-lg-9 text-right balance">{{balanceItem.value | currencyValue:true}}</div>
              </div>
            </div>
          </div>
      </h4>
    </div>
    <div class="panel-body" *ngIf="category.opened">
      <div *ngFor="let subCategory of category.subCategories; last as last">
        <div class="row summary-balance-item" >
          <div class="col-lg-7 summary-balance-title"><strong><em>{{subCategory.name}}</em></strong></div>
          <div class="col-lg-5">
            <div class="row" *ngFor="let balanceItem of subCategory.balance | summaryBodySubcategory:conversionCurrency | summaryBalanceOrdering">
              <div class="col-lg-3 text-right">
                <strong>
                  <bk-currency-symbol [currencyName]="balanceItem.currency"></bk-currency-symbol>
                </strong>
              </div>
              <div class="col-lg-9 text-right">{{balanceItem.value | currencyValue:true}}</div>
            </div>
          </div>
        </div>
        <hr *ngIf="!last">
      </div>
    </div>
  </div>
</div>
