.currency-details {
  line-height: 15px;
}

.panel-heading {
  cursor: pointer;
}

.panel-body hr {
  margin: 10px 0;
}

.panel-group {
  margin-bottom: 0;
}

.summary-balance-item, .summary-balance-title {
  line-height: 15px;
}

.balance {
  padding-right: 0;
}

.panel-title {
  font-size: 15px;
}
