<h2 mat-dialog-title align="center" #title bkDraggable dragTarget=".mat-dialog-container">
  <span *ngIf="data.editMode">Редактирование операции</span>
  <span *ngIf="!data.editMode">Новая операция</span>
</h2>
<mat-dialog-content id="history-add-edit-dialog">
  <div *ngIf="errors" class="alert alert-dismissable fade in alert-danger error">
    <strong>{{errors}}</strong>
  </div>
  <div class="row">
    <div class="col-sm-4 left-column">
      <my-date-picker [selDate]="selectedDate" [options]="datePickerOptions" (dateChanged)="onDateChanged($event)" locale="ru"></my-date-picker>
    </div>
    <div class="col-sm-8 right-column">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" [ngClass]="{'active': isTypeSelected('expense'), 'disabled': data.editMode && !data.fromSms}" (click)="onChangeSelectedType('expense')"><a>Расход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('income'), 'disabled': data.editMode && !data.fromSms}" (click)="onChangeSelectedType('income')"><a>Доход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('transfer'), 'disabled': data.editMode && !data.fromSms}" (click)="onChangeSelectedType('transfer')"><a>Перевод</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('exchange'), 'disabled': data.editMode && !data.fromSms}" (click)="onChangeSelectedType('exchange')"><a>Обмен</a></li>
      </ul>

      <div class="form-row">
        <bk-input-group [historyItem]="historyItem" [alternativeCurrencyLoading]="alternativeCurrencyLoading" [placeholder]="!isTypeSelected('exchange') ? 'Сумма' : 'Было'"
                        [currencies]="currencies" [selectedCurrency]="historyItem.balance.currency" (chooseCurrency)="changeCurrency($event)"
                        [inputValue]="historyItem.balance.value" (changeInputValue)="changeBalanceValue($event)">
        </bk-input-group>
      </div>

      <div class="form-row" *ngIf="!isTypeSelected('exchange')">
        <bk-select [placeholder]="this.isTypeSelected('transfer') ? 'Со счета' : 'Счет'" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('exchange')">
        <bk-input-group [historyItem]="historyItem" [alternativeCurrencyLoading]="alternativeCurrencyLoading" placeholder="Стало"
                        [currencies]="currencies" [selectedCurrency]="historyItem.balance.newCurrency" (chooseCurrency)="changeNewCurrency($event)"
                        [inputValue]="historyItem.balance.newValue" (changeInputValue)="historyItem.balance.newValue = $event">
        </bk-input-group>
      </div>

      <div class="form-row" *ngIf="isTypeSelected('expense') || isTypeSelected('income')">
        <bk-select placeholder="Категория" [items]="categories" [(selectedItems)]="selectedCategory"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('transfer')">
        <bk-select placeholder="На счет" [items]="accounts" [(selectedItems)]="selectedToAccount"></bk-select>
      </div>
      <div class="form-row" *ngIf="isTypeSelected('exchange')">
        <bk-select placeholder="Счет" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
      </div>

      <div class="form-row">
        <input type="text" [(ngModel)]="historyItem.description" class="form-control" placeholder="Комментарий">
      </div>
    </div>
  </div>
  <bk-goals-container [selectedCategory]="getSelectedCategoryTitle()" [selectedDate]="selectedDate" [editMode]="data.editMode" [fromSms]="data.fromSms"
                      [alternativeCurrencyLoading]="alternativeCurrencyLoading" [historyItem]="historyItem" [goalCouldBeCalculated]="goalCouldBeCalculated()"
                      (goalDetailsChange)="onGoalDetailsChange($event)" (originalGoalDetailsChange)="onOriginalGoalDetailsChange($event)" *ngIf="showGoalContainer()"></bk-goals-container>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="history-actions">
    <a class="btn btn-default history-action-item" (click)="close(false)">Закрыть</a>
    <span class="history-action-item">&nbsp;</span>
    <a class="btn btn-default history-action-item" (click)="save()">Сохранить</a>
  </span>
</mat-dialog-actions>
