.left-column {
  padding-right: 0;
  padding-top: 1px;
}

.right-column {
  padding-left: 5px;
}

.form-row {
  margin-top: 10px;
}

.dropdown-menu {
  min-width: 70px;
}

.currency-button {
  width: 65px;
}

ul.nav-tabs li {
  cursor: pointer;
}

.error {
  margin-bottom: 10px;
}

#history-add-edit-dialog {
  overflow: visible !important;
  padding: 0 20px;
}

.history-actions {
  width: 100%;
}

.history-action-item {
  float: right;
}
