hr {
  margin-top: 10px;
}

.left-column {
  padding-right: 0;
  padding-top: 1px;
}

.right-column {
  padding-left: 5px;
}

.form-row {
  margin-top: 10px;
}

.dropdown-menu {
  min-width: 70px;
}

.currency-button {
  width: 65px;
}

ul.nav-tabs li {
  cursor: pointer;
}

.error {
  margin-bottom: 10px;
}

#history-add-edit-dialog {
  overflow: visible !important;
  padding: 0 20px;
}

.history-actions {
  width: 100%;
}

.history-action-item {
  float: right;
}

:host ::ng-deep mat-calendar [aria-hidden=true] .mat-calendar-body-label { display: none; }
:host ::ng-deep mat-calendar td.mat-calendar-body-label { visibility: hidden; }
:host ::ng-deep mat-calendar .mat-calendar-header { padding-top: 0; }
:host ::ng-deep mat-calendar .mat-calendar-controls { margin-top: 0; margin-bottom: 0; }
