<h2 mat-dialog-title align="center" #title bkDraggable dragTarget=".mat-dialog-container">
  @if (data.editMode) {
    <span>Редактирование операции</span>
  }
  @if (!data.editMode) {
    <span>Новая операция</span>
  }
</h2>
<mat-dialog-content id="history-add-edit-dialog">
  @if (errors) {
    <div class="alert alert-dismissable fade in alert-danger error">
      <strong>{{errors}}</strong>
    </div>
  }
  <div class="row">
    <div class="col-sm-4 left-column">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [selected]="selectedDate" (selectedChange)="onDateChanged($event)" ></mat-calendar>
      </mat-card>
    </div>
    <div class="col-sm-8 right-column">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" [ngClass]="{'active': isTypeSelected('expense'), 'disabled': data.editMode && !data.fromDeviceMessage}" (click)="onChangeSelectedType('expense')"><a>Расход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('income'), 'disabled': data.editMode && !data.fromDeviceMessage}" (click)="onChangeSelectedType('income')"><a>Доход</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('transfer'), 'disabled': data.editMode && !data.fromDeviceMessage}" (click)="onChangeSelectedType('transfer')"><a>Перевод</a></li>
        <li role="presentation" [ngClass]="{'active': isTypeSelected('exchange'), 'disabled': data.editMode && !data.fromDeviceMessage}" (click)="onChangeSelectedType('exchange')"><a>Обмен</a></li>
      </ul>

      <div class="form-row">
        <bk-input-group [historyItem]="historyItem" [alternativeCurrencyLoading]="alternativeCurrencyLoading" [placeholder]="!isTypeSelected('exchange') ? 'Сумма' : 'Было'"
          [currencies]="currencies" [selectedCurrency]="historyItem.balance.currency" (chooseCurrency)="changeCurrency($event)"
          [inputValue]="historyItem.balance.value" (changeInputValue)="changeBalanceValue($event)">
        </bk-input-group>
      </div>

      @if (!isTypeSelected('exchange')) {
        <div class="form-row">
          <bk-select [placeholder]="this.isTypeSelected('transfer') ? 'Со счета' : 'Счет'" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
        </div>
      }
      @if (isTypeSelected('exchange')) {
        <div class="form-row">
          <bk-input-group [historyItem]="historyItem" [alternativeCurrencyLoading]="alternativeCurrencyLoading" placeholder="Стало"
            [currencies]="currencies" [selectedCurrency]="historyItem.balance.newCurrency" (chooseCurrency)="changeNewCurrency($event)"
            [inputValue]="historyItem.balance.newValue" (changeInputValue)="historyItem.balance.newValue = $event">
          </bk-input-group>
        </div>
      }

      @if (isTypeSelected('expense') || isTypeSelected('income')) {
        <div class="form-row">
          <bk-select placeholder="Категория" [items]="categories" [(selectedItems)]="selectedCategory"></bk-select>
        </div>
      }
      @if (isTypeSelected('transfer')) {
        <div class="form-row">
          <bk-select placeholder="На счет" [items]="accounts" [(selectedItems)]="selectedToAccount"></bk-select>
        </div>
      }
      @if (isTypeSelected('exchange')) {
        <div class="form-row">
          <bk-select placeholder="Счет" [items]="accounts" [(selectedItems)]="selectedAccount"></bk-select>
        </div>
      }

      <div class="form-row">
        <input type="text" [(ngModel)]="historyItem.description" class="form-control" placeholder="Комментарий">
      </div>
      @if (isTypeSelected('expense') || isTypeSelected('income')) {
        <div class="form-row">
          <bk-tag-selector [(selectedTags)]="historyItem.tags"></bk-tag-selector>
        </div>
      }
    </div>
  </div>
  @if (showGoalContainer()) {
    <bk-goals-container [selectedCategory]="getSelectedCategoryTitle()" [selectedDate]="selectedDate" [editMode]="data.editMode" [fromDeviceMessage]="data.fromDeviceMessage"
      [alternativeCurrencyLoading]="alternativeCurrencyLoading" [historyItem]="historyItem" [goalCouldBeCalculated]="goalCouldBeCalculated()"
    (goalDetailsChange)="onGoalDetailsChange($event)" (originalGoalDetailsChange)="onOriginalGoalDetailsChange($event)"></bk-goals-container>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <span class="history-actions">
    <a class="btn btn-default history-action-item" (click)="close(false)">Закрыть</a>
    <span class="history-action-item">&nbsp;</span>
    <a class="btn btn-default history-action-item" (click)="save()">Сохранить</a>
  </span>
</mat-dialog-actions>
