<mat-dialog-content>
  <p class="text-center description">Указанные курсы будут использоваться при приведении операции к другим валютам</p>
  <div class="table">
    <div class="row">
      <strong>
        <div class="col-sm-1"></div>
        <div class="col-sm-6 text-center">Курс обмена</div>
        <div class="col-sm-5 text-center">Сумма в валюте</div>
      </strong>
    </div>
    <div class="row form-inline" *ngFor="let currency of data.balance.alternativeCurrency | mapKeys">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><bk-currency-symbol [currencyName]="currency"></bk-currency-symbol></span>
          <input type="text" [(ngModel)]="data.balance.alternativeCurrency[currency]" class="form-control" bkCurrencyValue="4" [skipDecimalZeros]="true">
        </div>
        <input type="text" [value]="getAmountValue(currency)" (blur)="calculateCurrencyValue(currency, amount)" class="form-control last" #amount>
      </div>
    </div>
  </div>
  <p class="text-center">Такущая валюта: <strong><bk-currency-symbol [currencyName]="data.balance.currency"></bk-currency-symbol></strong></p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="history-actions">
    <a class="btn btn-default history-action-item" (click)="close()">Закрыть</a>
    <span class="history-action-item">&nbsp;</span>
    <a class="btn btn-default history-action-item" (click)="save()">Сохранить</a>
  </span>
</mat-dialog-actions>
