<h1>Бухгалтерия</h1>

<div *ngIf="unsupportedBrowser" class="text-center unsupported-browser-resolution">
  <div>Ваш браузер не поддерживается.</div>
  <div>Приложение корректно работает в Chrome и FireFox.</div>
</div>

<div *ngIf="isResolutionUnsupported()" class="text-center unsupported-browser-resolution">
  <div>Ваша ширина браузера {{getBrowserWidth()}}px.</div>
  <div>Минимальная ширина для корректной работы 768px.</div>
</div>

<div *ngIf="!applicationLoading; else applicationLoadingIndicator">
  <form #formRef [formGroup]="authenticationForm" *ngIf="type === 'authentication'">
    <bk-authentication-input inputId="login" [alwaysEditing]="alwaysEditing" [input]="authenticationForm.get('email')" [submitted]="submitted">Логин</bk-authentication-input>
    <bk-authentication-input inputId="password" [alwaysEditing]="alwaysEditing" [input]="authenticationForm.get('password')" [type]="'password'" [submitted]="submitted">Пароль</bk-authentication-input>

    <button class="btn btn-primary button-block" (click)="authenticate()" *ngIf="!loading; else loadingIndicator">Войти</button>
    <div class="additional-actions">
      <label style="float: left;"><a (click)="showRegistrationForm(false)">Регистрация</a></label>
      <label style="float: right;"><a (click)="showRegistrationForm(true)">Восстановить пароль</a></label>
    </div>
  </form>

  <form [formGroup]="registrationForm" *ngIf="type === 'registration'">
    <bk-authentication-input [alwaysEditing]="alwaysEditing" [input]="registrationForm.get('email')" [submitted]="submitted">Логин (E-mail)</bk-authentication-input>
    <bk-authentication-input [alwaysEditing]="alwaysEditing" [input]="registrationForm.get('password')" [type]="'password'" [submitted]="submitted">
      {{registrationForm.get('restorePassword').value === true ? 'Новый пароль' : 'Пароль'}}
    </bk-authentication-input>
    <bk-authentication-input *ngIf="codeSent === true" [alwaysEditing]="alwaysEditing" [input]="registrationForm.get('code')" [submitted]="submitted">Код подтверждения (отправлен на E-mail)</bk-authentication-input>

    <button class="btn btn-primary button-block" (click)="sendCode()" *ngIf="!loading; else loadingIndicator">
      <span *ngIf="codeSent === false">Отправить код подтверждения</span>
      <span *ngIf="codeSent === true">Отправить код еще раз</span>
    </button>
    <button class="btn btn-primary button-block second-button" (click)="reviewCode()" *ngIf="!loading && codeSent">Проверить код</button>

    <div class="additional-actions">
      <label style="float: right;"><a (click)="showAuthenticationForm()">Назад</a></label>
    </div>
  </form>
  <h2 *ngIf="errorMessage">{{errorMessage}}</h2>
</div>

<ng-template #loadingIndicator>
  <bk-spinner></bk-spinner>
</ng-template>

<ng-template #applicationLoadingIndicator>
  <bk-spinner [size]="100"></bk-spinner>
</ng-template>
