<h1>Бухгалтерия</h1>

@if (unsupportedBrowser) {
  <div class="text-center unsupported-browser-resolution">
    <div>Ваш браузер не поддерживается.</div>
    <div>Приложение корректно работает в Chrome и FireFox.</div>
  </div>
}

@if (isResolutionUnsupported()) {
  <div class="text-center unsupported-browser-resolution">
    <div>Ваша ширина браузера {{getBrowserWidth()}}px.</div>
    <div>Минимальная ширина для корректной работы 768px.</div>
  </div>
}

@if (!applicationLoading) {
  <div>
    @if (type === 'authentication') {
      <form #formRef [formGroup]="authenticationForm">
        <bk-authentication-input inputId="login" [alwaysEditing]="alwaysEditing" [input]="authenticationForm.get('email')" [submitted]="submitted">Логин</bk-authentication-input>
        <bk-authentication-input inputId="password" [alwaysEditing]="alwaysEditing" [input]="authenticationForm.get('password')" [type]="'password'" [submitted]="submitted">Пароль</bk-authentication-input>
        @if (!loading) {
          <button class="btn btn-primary button-block" (click)="authenticate()">Войти</button>
        } @else {
          <bk-spinner></bk-spinner>
        }
        <div class="additional-actions">
          <label style="float: left;"><a (click)="showRegistrationForm(false)">Регистрация</a></label>
          <label style="float: right;"><a (click)="showRegistrationForm(true)">Восстановить пароль</a></label>
        </div>
      </form>
    }
    @if (type === 'registration') {
      <form [formGroup]="registrationForm">
        <bk-authentication-input [alwaysEditing]="alwaysEditing" [input]="registrationForm.get('email')" [submitted]="submitted">Логин (E-mail)</bk-authentication-input>
        <bk-authentication-input [alwaysEditing]="alwaysEditing" [input]="registrationForm.get('password')" [type]="'password'" [submitted]="submitted">
          {{registrationForm.get('restorePassword').value === true ? 'Новый пароль' : 'Пароль'}}
        </bk-authentication-input>
        @if (codeSent === true) {
          <bk-authentication-input [alwaysEditing]="alwaysEditing" [input]="registrationForm.get('code')" [submitted]="submitted">Код подтверждения (отправлен на E-mail)</bk-authentication-input>
        }
        @if (!loading) {
          <button class="btn btn-primary button-block" (click)="sendCode()">
            @if (codeSent === false) {
              <span>Отправить код подтверждения</span>
            }
            @if (codeSent === true) {
              <span>Отправить код еще раз</span>
            }
          </button>
        } @else {
          <bk-spinner></bk-spinner>
        }
        @if (!loading && codeSent) {
          <button class="btn btn-primary button-block second-button" (click)="reviewCode()">Проверить код</button>
        }
        <div class="additional-actions">
          <label style="float: right;"><a (click)="showAuthenticationForm()">Назад</a></label>
        </div>
      </form>
    }
    @if (errorMessage) {
      <h2>{{errorMessage}}</h2>
    }
  </div>
} @else {
  <bk-spinner [size]="100"></bk-spinner>
}


