<div class="text-center page-title">Выберите доступные валюты и очередность их отображения</div>

<div class="table" *ngIf="!loading; else loadingIndicator">
  <div class="row header">
    <div class="col-sm-2 text-center first-column">Символ</div>
    <div class="col-sm-2 text-center">Название</div>
    <div class="col-sm-2 text-center">Используется</div>
    <div class="col-sm-3 text-center forth-column">По умолчанию</div>
    <div class="col-sm-3">Действия</div>
  </div>

  <div class="row" *ngFor="let defaultCurrency of allCurrencies | currencySort; let lastCurrency = last; let firstCurrency = first; let currencyIndex  = index;">
    <div class="col-sm-2 text-center"><span [innerHTML]="defaultCurrency.symbol"></span></div>
    <div class="col-sm-2 text-center">{{defaultCurrency.name}}</div>
    <div class="col-sm-2 text-center"><span *ngIf="isCurrencyUsed(defaultCurrency.name)" class="glyphicon glyphicon-ok green-mark"></span></div>
    <div class="col-sm-3 text-center"><span *ngIf="isCurrencyDefault(defaultCurrency.name)" class="glyphicon glyphicon-star red-mark"></span></div>
    <div class="col-sm-3">
      <bk-popover glyphiconClass="remove" text="Не использовать" placement="left"
                  (click)="unUseCurrencyForProfile(defaultCurrency.name)" *ngIf="isCurrencyUsed(defaultCurrency.name)"></bk-popover>
      <bk-popover glyphiconClass="ok" text="Использовать" placement="left"
                  (click)="useCurrencyForProfile(defaultCurrency.name)" *ngIf="!isCurrencyUsed(defaultCurrency.name)"></bk-popover>
      <bk-popover glyphiconClass="star" text="По умолчанию" placement="left"
                  (click)="markCurrencyAsDefault(defaultCurrency.name)" *ngIf="!isCurrencyDefault(defaultCurrency.name) && isCurrencyUsed(defaultCurrency.name)"></bk-popover>
      <span class="empty-action" *ngIf="isCurrencyDefault(defaultCurrency.name)">&nbsp;</span>
      <bk-popover glyphiconClass="arrow-down" text="Сдвинуть вниз" placement="left"
                  (click)="moveCurrencyDown(defaultCurrency.name)" *ngIf="isCurrencyUsed(defaultCurrency.name) && !lastCurrency && isMoveAvailable() && isNotLastUsed(currencyIndex)"></bk-popover>
      <span class="empty-action" *ngIf="!(isCurrencyUsed(defaultCurrency.name) && !lastCurrency && isMoveAvailable() && isNotLastUsed(currencyIndex))">&nbsp;</span>
      <bk-popover glyphiconClass="arrow-up" text="Сдвинуть вверх" placement="left"
                  (click)="moveCurrencyUp(defaultCurrency.name)" *ngIf="isCurrencyUsed(defaultCurrency.name) && !firstCurrency && isMoveAvailable()"></bk-popover>
    </div>
    <hr *ngIf="!lastCurrency"/>
  </div>
</div>

<ng-template #loadingIndicator>
  <bk-spinner [size]="80"></bk-spinner>
</ng-template>
