<div class="text-center page-title">Выберите доступные валюты и очередность их отображения</div>

@if (!loading) {
  <div class="table">
    <div class="row header">
      <div class="col-sm-2 text-center first-column">Символ</div>
      <div class="col-sm-2 text-center">Название</div>
      <div class="col-sm-2 text-center">Используется</div>
      <div class="col-sm-3 text-center forth-column">По умолчанию</div>
      <div class="col-sm-3">Действия</div>
    </div>
    @for (defaultCurrency of allCurrencies | currencyDetailSort; track defaultCurrency; let lastCurrency = $last; let firstCurrency = $first; let currencyIndex = $index) {
      <div class="row">
        <div class="col-sm-2 text-center"><span [innerHTML]="defaultCurrency.symbol"></span></div>
        <div class="col-sm-2 text-center">{{defaultCurrency.name}}</div>
        <div class="col-sm-2 text-center">@if (isCurrencyUsed(defaultCurrency.name)) {
          <span class="glyphicon glyphicon-ok green-mark"></span>
        }</div>
        <div class="col-sm-3 text-center">@if (isCurrencyDefault(defaultCurrency.name)) {
          <span class="glyphicon glyphicon-star red-mark"></span>
        }</div>
        <div class="col-sm-3">
          @if (isCurrencyUsed(defaultCurrency.name)) {
            <bk-popover glyphiconClass="remove" text="Не использовать" placement="left"
            (click)="unUseCurrencyForProfile(defaultCurrency.name)"></bk-popover>
          }
          @if (!isCurrencyUsed(defaultCurrency.name)) {
            <bk-popover glyphiconClass="ok" text="Использовать" placement="left"
            (click)="useCurrencyForProfile(defaultCurrency.name)"></bk-popover>
          }
          @if (!isCurrencyDefault(defaultCurrency.name) && isCurrencyUsed(defaultCurrency.name)) {
            <bk-popover glyphiconClass="star" text="По умолчанию" placement="left"
            (click)="markCurrencyAsDefault(defaultCurrency.name)"></bk-popover>
          }
          @if (isCurrencyDefault(defaultCurrency.name)) {
            <span class="empty-action">&nbsp;</span>
          }
          @if (isCurrencyUsed(defaultCurrency.name) && !lastCurrency && isMoveAvailable() && isNotLastUsed(currencyIndex)) {
            <bk-popover glyphiconClass="arrow-down" text="Сдвинуть вниз" placement="left"
            (click)="moveCurrencyDown(defaultCurrency.name)"></bk-popover>
          }
          @if (!(isCurrencyUsed(defaultCurrency.name) && !lastCurrency && isMoveAvailable() && isNotLastUsed(currencyIndex))) {
            <span class="empty-action">&nbsp;</span>
          }
          @if (isCurrencyUsed(defaultCurrency.name) && !firstCurrency && isMoveAvailable()) {
            <bk-popover glyphiconClass="arrow-up" text="Сдвинуть вверх" placement="left"
            (click)="moveCurrencyUp(defaultCurrency.name)"></bk-popover>
          }
        </div>
        @if (!lastCurrency) {
          <hr/>
        }
      </div>
    }
  </div>
} @else {
  <bk-spinner [size]="80"></bk-spinner>
}

