<div class="row">
  <div class="col-lg-7 col-sm-5 col-md-6 footer-balance-title"><strong>Итого:</strong></div>
  <div class="col-lg-5 col-sm-7 col-md-6">
    @for (balanceItem of accounts | summaryFooter:conversionCurrency | summaryBalanceOrdering; track balanceItem) {
      <div class="row footer-balance-item">
        <div class="col-sm-3 text-right">
          <strong>
            <bk-currency-symbol [currencyName]="balanceItem.currency"></bk-currency-symbol>
          </strong>
        </div>
        <div class="col-sm-9 text-right balance">{{balanceItem.value | currencyValue:2}}</div>
      </div>
    }
  </div>
</div>
