.header {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  font-weight: bolder;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -10px;
  margin-right: -10px;
}

.footnote {
  color: #999;
  font-size: 11px;
  font-style: normal;
}

.panel-body {
  padding: 10px;
}

.expense {
  color: #cc0000;
  white-space: nowrap;
}

.balance {
  color: #666666;
  white-space: nowrap;
}

.income {
  color: #009900;
  white-space: nowrap;
}

.transfer {
  color: #0099ff;
  white-space: nowrap;
}

.description {
  font-size: 12px;
}

.history-line {
  padding-bottom: 5px;
  margin-left: -10px;
  margin-right: -10px;
}

.table {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.table div hr {
  margin: 5px 0;
}

:host ::ng-deep bk-popover .glyphicon {
  padding-right: 5px;
}

:host ::ng-deep bk-popover .goal-icon {
  padding-left: 0;
  padding-top: 1px;
  margin-right: 12px;
}

:host ::ng-deep bk-popover .unprocessed-device-message-icon {
  color: #3f51b5;
  margin-right: 12px;
  padding-left: 0;
}

.transfer-exchange-icon {
  padding-right: 10px;
  top: 3px;
}

.no-right-padding {
  padding-right: 0;
}

.no-left-right-padding {
  padding-left: 0;
  padding-right: 0;
}

.transfer-exchange-icon {
  color: #82a9c3;
  cursor: auto;
}

.transfer-exchange-icon:hover {
  color: #82a9c3;
}

.float-left {
  float: left;
}

.icon {
  padding-right: 3px;
}

.clickable {
  cursor: pointer;
}

.transfer-from {
  padding-right: 10px;
}

.transfer-to {
  white-space: nowrap;
}

.no-left-padding {
  padding-left: 0;
}

.exchange-value {
  padding-left: 10px;
}

.exchange-account {
  min-width: 117px;
}

.exchange-from {
  padding-right: 7px;
}

bk-history-page-actions {
  display: flex;
}

.device-message-top-margin {
  margin-top: 2px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .sm-small-left-padding {
    padding-left: 5px;
  }
  .sm-no-left-padding {
    padding-left: 0;
  }
  .exchange-account {
    min-width: 70px;
  }
  .sm-category-column {
    padding-left: 15px;
    padding-right: 0;
  }
  .exchange-value {
    padding-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .exchange-account {
    min-width: 95px;
  }
}
