@if (!loading) {
  <div class="panel panel-default">
    <div class="panel-body">
      <bk-history-page-actions [loading]="loadingMoreIndicator" [disableMoreButton]="disableMoreButton" [unprocessedDeviceMessages]="unprocessedDeviceMessages" [unprocessedDeviceMessagesCount]="unprocessedDeviceMessagesCount"
      (loadMore)="loadMoreItems($event)" (onShowUnprocessedDeviceMessagesChanged)="changeShowDeviceMessages($event)"></bk-history-page-actions>
      <div class="table">
        <div class="row header">
          <div class="col-sm-2">Дата</div>
          <div class="col-sm-2 sm-small-left-padding">Сумма</div>
          <div class="col-sm-3 sm-category-column">Категория</div>
          <div class="col-sm-3">Комментарий</div>
          <div class="col-sm-2 text-center sm-small-left-padding">Действия</div>
        </div>
        @for (historyGroup of historyItems | historyGroup; track historyGroup; let lastGroup = $last) {
          <div>
            @for (historyItem of historyGroup.historyItems; track historyItem; let firstItem = $first; let lastItem = $last) {
              <div class="row history-line" [id]="historyItem.originalItem.id" [ngClass]="{'last-item': lastGroup && lastItem}"
                >
                @if (firstItem) {
                  <div class="col-sm-2 sm-small-left-padding">
                    <div [ngClass]="['no-left-right-padding', historyItem.goal ? 'col-sm-5' : 'col-sm-6']">
                      <span>
                        {{historyGroup.dateString}}
                        <div class="footnote">{{historyGroup.dayOfWeek}}</div>
                      </span>
                    </div>
                  </div>
                }
                <!--exchange middle-->
                @if (historyItem.type === 'exchange') {
                  <div [ngClass]="{'col-sm-8 sm-small-left-padding': true, 'col-sm-offset-2': !firstItem}">
                    <span class="float-left exchange-account">
                      @if (historyItem.icon) {
                        <img class="icon" [src]="historyItem.icon | assetImage:'account'">
                      }
                      <span class="description">{{historyItem.balance.account}}</span>
                      <div>
                        @for (deviceMessage of historyItem.deviceMessages; track deviceMessage; let deviceMessageIndex = $index) {
                          <bk-popover class="float-left" glyphiconClass="envelope"
                          [text]="getDeviceName(deviceMessage.deviceId)" (click)="clickOnDeviceMessage(historyItem, deviceMessageIndex)" placement="above"></bk-popover>
                        }
                        <div class="footnote float-left" [ngClass]="{'device-message-top-margin': historyItem.deviceMessages}">{{historyItem.balance.subAccount}}</div>
                      </div>
                    </span>
                    <span class="float-left exchange-value">
                      <span class="description exchange-from">
                        <strong><bk-currency-symbol [currencyName]="historyItem.balance.currency"></bk-currency-symbol></strong> {{historyItem.balance.value | currencyValue}}
                      </span>
                      <span class="glyphicon glyphicon-transfer transfer-exchange-icon"></span>
                      <span class="description">
                        <strong><bk-currency-symbol [currencyName]="historyItem.balance.newCurrency"></bk-currency-symbol></strong> {{historyItem.balance.newValue | currencyValue}}
                      </span>
                      <div class="footnote">{{historyItem.description}}</div>
                      @if (historyItem.showDeviceMessageIndex != null) {
                        <div class="footnote" [innerHTML]="getFormattedDeviceMessage(historyItem.deviceMessages[historyItem.showDeviceMessageIndex].fullText)"></div>
                      }
                    </span>
                  </div>
                }
                <!--not exchange, second column-->
                @if (historyItem.type !== 'exchange' && !historyItem.notProcessed) {
                  <div [ngClass]="{'col-sm-2 sm-small-left-padding': true, 'col-sm-offset-2': !firstItem}">
                    @if (historyItem.goal) {
                      <bk-popover spanClass="goal-icon col-sm-1 no-left-right-padding" glyphiconClass="screenshot" [text]="historyItem.goal" placement="above"></bk-popover>
                    }
                    <div class="no-left-padding no-right-padding">
                      <div [ngClass]="historyItem.type">
                        {{historyItem.balance.value | currencyValue}} <bk-currency-symbol [currencyName]="historyItem.balance.currency"></bk-currency-symbol>
                      </div>
                      @if (historyItem.type !== 'balance') {
                        <div>
                          @for (deviceMessage of historyItem.deviceMessages; track deviceMessage; let deviceMessageIndex = $index) {
                            <bk-popover class="float-left" glyphiconClass="envelope"
                            [text]="getDeviceName(deviceMessage.deviceId)" (click)="clickOnDeviceMessage(historyItem, deviceMessageIndex)" placement="above"></bk-popover>
                          }
                          <bk-template-variable #accountTitle [toggleState]="false"></bk-template-variable>
                          <div class="float-left">
                            @if (historyItem.type !== 'transfer' && accountTitle.isToggleState()) {
                              <div class="footnote clickable" [ngClass]="{'device-message-top-margin': historyItem.deviceMessages && accountTitle.isToggleState()}"
                              (click)="accountTitle.changeToggleState()">{{historyItem.balance.account}}</div>
                            }
                            @if (historyItem.type !== 'transfer') {
                              <div class="footnote clickable" [ngClass]="{'device-message-top-margin': historyItem.deviceMessages && !accountTitle.isToggleState()}"
                              (click)="accountTitle.changeToggleState()">{{historyItem.balance.subAccount}}</div>
                            }
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                }
                <!--Unprocessed message, second column-->
                @if (historyItem.notProcessed) {
                  <div [ngClass]="{'col-sm-3 sm-small-left-padding': true, 'col-sm-offset-2': !firstItem}">
                    <bk-popover spanClass="unprocessed-device-message-icon col-sm-1 no-left-right-padding" glyphiconClass="envelope" [text]="getDeviceName(historyItem.deviceMessages[0].deviceId)" placement="above"></bk-popover>
                    <div class="footnote">{{getDeviceMessageDateTime(historyItem.deviceMessages[0].messageTimestamp)}}</div>
                    <div class="footnote">{{historyItem.deviceMessages[0].sender}}</div>
                  </div>
                }
                <!--Unprocessed message, third column-->
                @if (historyItem.notProcessed) {
                  <div class="col-sm-5 sm-category-column footnote" [innerHTML]="getFormattedDeviceMessage(historyItem.deviceMessages[0].fullText)"></div>
                }
                <!--expense or income third column-->
                @if (historyItem.type === 'expense' || historyItem.type === 'income') {
                  <div class="col-sm-3 sm-category-column">
                    @if (historyItem.icon) {
                      <img class="icon" [src]="historyItem.icon | assetImage:'category'">
                    }
                    <span class="description">{{historyItem.category}}</span>
                    <div class="footnote">{{historyItem.subCategory}}</div>
                  </div>
                }
                <!--balance third column-->
                @if (historyItem.type === 'balance') {
                  <div class="col-sm-6 no-right-padding">
                    @if (historyItem.icon) {
                      <img class="icon" [src]="historyItem.icon | assetImage:'account'">
                    }
                    <span class="description">{{historyItem.balance.account}} >> {{historyItem.balance.subAccount}}</span>
                    <div class="footnote">Изменение остатков</div>
                  </div>
                }
                <!--transfer third column-->
                @if (historyItem.type === 'transfer') {
                  <div class="col-sm-6 no-right-padding">
                    <div class="transfer-exchange-row">
                      <span class="transfer-from">
                        @if (historyItem.icon) {
                          <img class="icon" [src]="historyItem.icon | assetImage:'account'">
                        }
                        <span class="description">{{historyItem.balance.subAccount}} ({{historyItem.balance.account}})</span>
                      </span>
                      <span class="transfer-to">
                        <span class="glyphicon glyphicon-random transfer-exchange-icon"></span>
                        @if (historyItem.additionalIcon) {
                          <img class="icon" [src]="historyItem.additionalIcon | assetImage:'account'">
                        }
                        <span class="description">{{historyItem.balance.subAccountTo}} ({{historyItem.balance.accountTo}})</span>
                      </span>
                    </div>
                    <div class="footnote">{{historyItem.description}}</div>
                    @if (historyItem.showDeviceMessageIndex != null) {
                      <div class="footnote" [innerHTML]="getFormattedDeviceMessage(historyItem.deviceMessages[historyItem.showDeviceMessageIndex].fullText)"></div>
                    }
                  </div>
                }
                <!--expense or income forth column-->
                @if (historyItem.type === 'expense' || historyItem.type === 'income') {
                  <div class="col-sm-3 description">
                    @if (historyItem.originalItem.tags && historyItem.originalItem.tags.length > 0) {
                      <div class="history-tags">
                        <bk-tag-chips [tagTitles]="historyItem.originalItem.tags"></bk-tag-chips>
                      </div>
                    }
                    @if (historyItem.description) {
                      <div>{{historyItem.description}}</div>
                    }
                    @if (historyItem.showDeviceMessageIndex != null) {
                      <div class="footnote" [innerHTML]="getFormattedDeviceMessage(historyItem.deviceMessages[historyItem.showDeviceMessageIndex].fullText)"></div>
                    }
                  </div>
                }
                <!--last column-->
                @if (!(historyItem.type === 'balance')) {
                  <div class="col-sm-2 text-center">
                    @if (!historyItem.archived && !historyItem.notProcessed) {
                      <bk-popover glyphiconClass="pencil" text="Редактировать" placement="left" (click)="editHistoryItem(historyItem, false)"></bk-popover>
                    }
                    @if (historyItem.notProcessed) {
                      <bk-popover glyphiconClass="plus" text="Добавить операцию" placement="left" (click)="editHistoryItem(historyItem, true)"></bk-popover>
                    }
                    @if (historyItem.notProcessed) {
                      <bk-popover glyphiconClass="paperclip" text="Ассоциировать с операцией" placement="left" (click)="openAssignDeviceMessageDialog(historyItem)"></bk-popover>
                    }
                    @if (!historyItem.archived || historyItem.notProcessed) {
                      <bk-popover glyphiconClass="remove" text="Удалить" placement="left" (click)="deleteHistoryItem(historyItem)"></bk-popover>
                    }
                  </div>
                }
              </div>
            }
            @if (!lastGroup) {
              <hr>
              }
            </div>
          }
        </div>
        <bk-history-page-actions [loading]="loadingMoreIndicator" [disableMoreButton]="disableMoreButton" [unprocessedDeviceMessages]="unprocessedDeviceMessages" [unprocessedDeviceMessagesCount]="unprocessedDeviceMessagesCount"
        (loadMore)="loadMoreItems($event)" (onShowUnprocessedDeviceMessagesChanged)="changeShowDeviceMessages($event)"></bk-history-page-actions>
      </div>
    </div>
  } @else {
    <bk-spinner [size]="100"></bk-spinner>
  }

