<h2 mat-dialog-title align="center" bkDraggable dragTarget="#balance-dialog">
  <span>Редактирование остатков субсчета</span>
</h2>
<mat-dialog-content>
  <div *ngIf="errors" class="alert alert-dismissable fade in alert-danger error">
    <strong>{{errors}}</strong>
  </div>

  <div class="table">
    <div class="row" *ngFor="let currency of currencies | currencyDetailSort">
      <div class="input-group">
        <span class="input-group-addon"><bk-currency-symbol [currencyName]="currency.name"></bk-currency-symbol></span>
        <bk-input-calculator position="right" placeholder="Остаток в валюте" [value]="this.data.subAccountBalance[currency.name]" (changeInputValue)="this.data.subAccountBalance[currency.name] = $event" ></bk-input-calculator>
        <!--<input type="text" [(ngModel)]="this.data.subAccountBalance[currency.name]" class="form-control"-->
               <!--bkCurrencyValue="2" [skipDecimalZeros]="true" [patchModelValueToFixedSize]="true">-->
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="sub-account-actions">
    <a class="btn btn-default sub-account-action-item" (click)="close()">Закрыть</a>
    <span class="sub-account-action-item">&nbsp;</span>
    <a class="btn btn-default sub-account-action-item" (click)="save()">Сохранить</a>
  </span>
</mat-dialog-actions>
