.left-column {
  padding-right: 0;
  padding-top: 15px;
}

.right-column {
  padding-left: 0;
}

.form-row {
  margin-top: 15px;
}

.dropdown-menu {
  min-width: 70px;
}

.currency-button {
  width: 65px;
}
