<h2 mat-dialog-title align="center" bkDraggable dragTarget=".mat-dialog-container">
  @if (data.editMode && isAccountType()) {
    <span>Редактирование счета</span>
  }
  @if (data.editMode && isSubAccountType()) {
    <span>Редактирование субсчета</span>
  }
  @if (data.editMode && isCategoryType()) {
    <span>Редактирование категории</span>
  }
  @if (data.editMode && isSubCategoryType()) {
    <span>Редактирование подкатегории</span>
  }

  @if (!data.editMode && isAccountType()) {
    <span>Новый счета</span>
  }
  @if (!data.editMode && isSubAccountType()) {
    <span>Новый субсчета</span>
  }
  @if (!data.editMode && isCategoryType()) {
    <span>Новая категории</span>
  }
  @if (!data.editMode && isSubCategoryType()) {
    <span>Новая подкатегории</span>
  }
</h2>
<mat-dialog-content  id="category-add-edit-dialog">
  @if (errorMessage) {
    <div class="alert alert-dismissable fade in alert-danger error">
      <strong>{{errorMessage}}</strong>
    </div>
  }
  <div class="table">
    <div class="row title">
      <div class="col-sm-4 left-column">Название:</div>
      <div class="col-sm-8">
        @if (!isSubAccountType()) {
          <input type="text" [(ngModel)]="title" class="form-control">
        }

        @if (isSubAccountType()) {
          <div class="input-group">
            <input type="text" [(ngModel)]="title" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="editSubAccountBalance()">Остаток</button>
            </span>
          </div>
        }
      </div>
    </div>

    @if (isSubAccountType()) {
      <div class="row">
        <div class="col-sm-4 left-column">
          Исключить: <bk-popover glyphiconClass="info-sign" text="Исключить из итогов" placement="above"></bk-popover>
        </div>
        <div class="col-sm-8">
          <mat-slide-toggle color="primary" [checked]="excludeFromTotals" (change)="changeExcludeFromTotals($event)"></mat-slide-toggle>
        </div>
      </div>
    }

    @if (isSubAccountType()) {
      <div class="row">
        <div class="col-sm-4 left-column">Иконка:</div>
        <div class="col-sm-8 right-column">
          @for (accountIcon of accountIcons; track accountIcon) {
            <span class="icon-wrapper">
              <img [ngClass]="{'account-icon':true, 'active-icon':accountIcon===data.icon}"
                [src]="accountIcon | assetImage:'account'"
                (click)="chooseIcon(accountIcon)">
            </span>
          }
        </div>
      </div>
    }
    @if (isCategoryType()) {
      <div class="row">
        <div class="col-sm-4 left-column">Иконка:</div>
        <div class="col-sm-8 right-column">
          @for (categoryIcon of categoryIcons; track categoryIcon) {
            <span class="icon-wrapper">
              <img [ngClass]="{'account-icon':true, 'active-icon':categoryIcon===data.icon}"
                [src]="categoryIcon | assetImage:'category'"
                (click)="chooseIcon(categoryIcon)">
            </span>
          }
        </div>
      </div>
    }

    @if (isSubCategoryType()) {
      <div class="row">
        <div class="col-sm-4 left-column">Тип:</div>
        @if (data.editMode) {
          <div class="col-sm-8 left-column">
            @if (data.subCategoryType === 'income') {
              <span class="income-category value">Доходная</span>
            }
            @if (data.subCategoryType === 'expense') {
              <span class="expense-category value">Расходная</span>
            }
          </div>
        }
        @if (!data.editMode) {
          <div class="col-sm-8 right-column">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="sub-category-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%">
                <span class="selected-type">
                  @if (data.subCategoryType === 'income') {
                    <span class="income-category">Доходная</span>
                  }
                  @if (data.subCategoryType === 'expense') {
                    <span class="expense-category">Расходная</span>
                  }
                </span>
                <span [ngClass]="{'caret': true, 'selected': data.subCategoryType}"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="sub-category-type">
                <li><a class="income-category" (click)="changeType('income')">Доходная</a></li>
                <li><a class="expense-category" (click)="changeType('expense')">Расходная</a></li>
              </ul>
            </div>
          </div>
        }
      </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="account-actions">
    <button class="btn btn-default account-action-item" (click)="close(false)">Закрыть</button>
    <span class="account-action-item">&nbsp;</span>
    <button class="btn btn-default account-action-item" [disabled]="loading" (click)="save()">
      @if (!loading) {
        <span>Сохранить</span>
      }
      <bk-spinner [display]="loading" [size]="20"></bk-spinner>
    </button>
  </span>
</mat-dialog-actions>
