<h2 mat-dialog-title align="center" #title bkDraggable dragTarget=".budget-close-month-dialog">Закрытие месяца, планирование следующего</h2>
<mat-dialog-content id="budget-close-month-dialog">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" [ngClass]="{'active': type === 'goals'}"><a>Шаг 1: Цели</a></li>
    <li role="presentation" [ngClass]="{'active': type === 'categories'}"><a>Шаг 2: Категории</a></li>
  </ul>

  <div class="table table-content">
    <div *ngIf="type === 'goals'">
      <div class="row" *ngFor="let goalWrapper of goals | closeMonthGoalFilter:goalFilters">
        <div class="col-sm-2 no-right-padding">
          <div class="type-label">
            <span class="label label-danger" *ngIf="goalWrapper.type === 'expense'">Расход</span>
            <span class="label label-success" *ngIf="goalWrapper.type === 'income'">Доход</span>
          </div>
          <bk-popover class="repeat-icon" glyphiconClass="paste" placement="right" text="Повторить" *ngIf="!goalWrapper.actionPlan" (click)="repeatGoal(goalWrapper)"></bk-popover>
          <bk-popover class="move-icon" glyphiconClass="log-in" placement="right" text="Отложить выполнение"
                      *ngIf="!goalWrapper.goal.done && !goalWrapper.actionPlan" (click)="moveGoal(goalWrapper)"></bk-popover>
          <bk-popover class="edit-icon" glyphiconClass="pencil" placement="right" text="Редактировать" *ngIf="goalWrapper.actionPlan" (click)="editGoal(goalWrapper)"></bk-popover>
          <bk-popover class="remove-icon" glyphiconClass="remove" placement="right" text="Исключить"
                      *ngIf="goalWrapper.actionPlan && goalWrapper.removable" (click)="excludeGoal(goalWrapper)"></bk-popover>
        </div>

        <div class="col-sm-7 progress-column">
          <div class="progress">
            <bk-template-variable #goalPercent [value]="calculateGoalPercentDone(goalWrapper.goal)"></bk-template-variable>
            <div class="progress-bar" [style.width.%]="goalPercent.value"></div>
            <span class="goal-title">{{goalWrapper.goal.title}} <span *ngIf="!goalWrapper.missedInClosedMonth">(<span class="percent">{{goalPercent.value}}%</span>)</span></span>
            <span class="goal-value">
            <span *ngIf="!goalWrapper.missedInClosedMonth">{{goalWrapper.goal.balance.value | currencyValue:2:true}} из</span> {{goalWrapper.goal.balance.completeValue | currencyValue:2:true}}
            <strong><bk-currency-symbol [currencyName]="goalWrapper.goal.balance.currency"></bk-currency-symbol></strong>
          </span>
          </div>
        </div>

        <div class="col-sm-3 actions-column">
          <div *ngIf="!goalWrapper.actionPlan"><span class="badge badge-category">{{goalWrapper.category}}</span></div>
          <span *ngIf="goalWrapper.actionPlan" class="action-label">
            <span class="label label-primary">{{getMonthTitle(goalWrapper.actionPlan.month)}} {{goalWrapper.actionPlan.year}}</span>
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="type === 'categories'">
      <div class="row category-row" *ngFor="let categoryWrapper of categories | closeMonthCategoryFilter:categoryFilters">
        <bk-template-variable #linesNumber [value]="getNumberOfLinesInCategory(categoryWrapper)"></bk-template-variable>
        <div class="col-sm-3 left-column">
          <div class="type-label">
            <span class="label label-danger" *ngIf="categoryWrapper.type === 'expense'">Расход</span>
            <span class="label label-success" *ngIf="categoryWrapper.type === 'income'">Доход</span>
          </div>
          <bk-popover class="statistic-icon" glyphiconClass="signal" placement="right" text="Статистика" *ngIf="!categoryWrapper.actionPlan" (click)="showStatistics(categoryWrapper)"></bk-popover>
          <bk-popover class="repeat-icon" glyphiconClass="paste" placement="right" text="Повторить" *ngIf="!categoryWrapper.actionPlan" (click)="repeatCategory(categoryWrapper)"></bk-popover>
          <bk-popover class="edit-icon" glyphiconClass="pencil" placement="right" text="Редактировать" *ngIf="categoryWrapper.actionPlan" (click)="editCategory(categoryWrapper)"></bk-popover>
          <bk-popover class="remove-icon" glyphiconClass="remove" placement="right" text="Исключить"
                      *ngIf="categoryWrapper.actionPlan && categoryWrapper.removable" (click)="excludeCategory(categoryWrapper)"></bk-popover>
          <span [popover]="'Целей в категории'" [popoverPlacement]="'right'" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true"
                class="badge badge-goal" *ngIf="categoryWrapper.goalWrappers.length > 0">
            {{categoryWrapper.goalWrappers.length}}
          </span>
          <span class="vertical-middle category-icon-wrapper"><img class="icon" [src]="getCategoryIcon(categoryWrapper.category.title) | assetImage:'category'"></span>
        </div>

        <div class="col-sm-7 category-progress-column">
          <bk-template-variable #categoryPercent [value]="calculateCategoryPercentDone(categoryWrapper)"></bk-template-variable>
          <div class="progress" [style.height.px]="20 * linesNumber.value">
            <div class="progress-bar" [style.width.%]="categoryPercent.value"></div>
            <span class="category-title-wrapper">
              <span class="category-title">{{categoryWrapper.category.title}} <span *ngIf="!categoryWrapper.missedInClosedMonth">(<span class="percent">{{categoryPercent.value}}%</span>)</span></span>
            </span>
            <span *ngIf="!categoryWrapper.missedInClosedMonth">
              <span class="category-value" *ngFor="let currency of categoryWrapper.category.balance | mapKeys | currencySort; let currencyIndex = index" [style.top.px]="currencyIndex * 20">
                <span>{{categoryWrapper.category.balance[currency].value | currencyValue:2:true}}</span> из {{categoryWrapper.category.balance[currency].completeValue | currencyValue:2:true}}
                  <strong><bk-currency-symbol [currencyName]="currency"></bk-currency-symbol></strong>
              </span>
            </span>
          </div>
        </div>

        <div class="col-sm-2 right-column">
          <span class="action-plan" *ngIf="categoryWrapper.actionPlan">
            <span class="category-value" *ngFor="let currency of categoryWrapper.actionPlan | mapKeys | currencySort; let currencyIndex = index" [style.top.px]="currencyIndex * 20">
              {{categoryWrapper.actionPlan[currency].completeValue | currencyValue:2:true}} <strong><bk-currency-symbol [currencyName]="currency"></bk-currency-symbol></strong>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="full-width">
    <span class="summary-to-currency pull-left">
      <div class="dropdown">
        <span class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <strong>Фильтр:</strong> <span *ngFor="let filter of getFilters(); let last = last;"> {{filter}}<span *ngIf="!last">,</span></span>
        </span>
        <ul class="dropdown-menu filter" aria-labelledby="dropdownMenu1">
          <li (click)="clickFilter(FILTER.USED, FILTER.UNUSED)">
            <a><input type="checkbox" [checked]="isChecked(FILTER.USED)"> {{FILTER.USED}}</a>
          </li>
          <li (click)="clickFilter(FILTER.UNUSED, FILTER.USED)">
            <a><input type="checkbox" [checked]="isChecked(FILTER.UNUSED)"> {{FILTER.UNUSED}}</a>
          </li>
          <li role="separator" class="divider"></li>
          <li (click)="clickFilter(FILTER.DONE, FILTER.UNDONE)" *ngIf="type === 'goals'">
            <a><input type="checkbox" [checked]="isChecked(FILTER.DONE)"> {{FILTER.DONE}}</a>
          </li>
          <li (click)="clickFilter(FILTER.UNDONE, FILTER.DONE)" *ngIf="type === 'goals'">
            <a><input type="checkbox" [checked]="isChecked(FILTER.UNDONE)"> {{FILTER.UNDONE}}</a>
          </li>
          <li role="separator" class="divider" *ngIf="type === 'goals'"></li>
          <li (click)="clickFilter(FILTER.INCOME, FILTER.EXPENSE)">
            <a><input type="checkbox" [checked]="isChecked(FILTER.INCOME)"> {{FILTER.INCOME}}</a>
          </li>
          <li (click)="clickFilter(FILTER.EXPENSE, FILTER.INCOME)">
            <a><input type="checkbox" [checked]="isChecked(FILTER.EXPENSE)"> {{FILTER.EXPENSE}}</a>
          </li>
        </ul>
      </div>
    </span>

    <a class="btn btn-default pull-right" (click)="close()">Закрыть</a>
    <span class="pull-right">&nbsp;</span>
    <a class="btn btn-default pull-right" *ngIf="type === 'goals'" (click)="nextToCategories()">Далее</a>
    <a class="btn btn-default pull-right" *ngIf="type === 'categories'" (click)="save()">Сохранить</a>
    <span class="pull-right">&nbsp;</span>
    <a class="btn btn-default pull-right" *ngIf="type === 'categories' && goals.length > 0" (click)="backToGoals()">Назад</a>
  </span>
</mat-dialog-actions>
