<h2 mat-dialog-title align="center" #title bkDraggable dragTarget=".budget-close-month-dialog">Закрытие месяца, планирование следующего</h2>
<mat-dialog-content id="budget-close-month-dialog">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" [ngClass]="{'active': type === 'period'}"><a>Шаг 1: Период</a></li>
    <li role="presentation" [ngClass]="{'active': type === 'goals'}"><a>Шаг 2: Цели</a></li>
    <li role="presentation" [ngClass]="{'active': type === 'categories'}"><a>Шаг 3: Категории</a></li>
  </ul>

  <div class="table table-content">
    @if (type === 'period') {
      <div>
        @if (errorMessage) {
          <div class="alert alert-dismissable fade in alert-danger error text-center">
            <strong>{{errorMessage}}</strong>
          </div>
        }
        <div class="row period-row">
          <div class="col-sm-4 period-title">Планируемый период:</div>
          <div class="col-sm-8">
            <bk-month-and-year class="right-button-group" [selectedYear]="nextMonthPeriod.year" [selectedMonth]="nextMonthPeriod.month"
            (changeMonth)="changeMonth($event)" (changeYear)="changeYear($event)"></bk-month-and-year>
          </div>
        </div>
      </div>
    }

    @if (type === 'goals') {
      <div>
        @for (goalWrapper of goals | closeMonthGoalFilter:goalFilters; track goalWrapper) {
          <div class="row">
            <div class="col-sm-2 no-right-padding first-column">
              <div class="type-label">
                @if (goalWrapper.type === 'expense') {
                  <span class="label label-danger">Расход</span>
                }
                @if (goalWrapper.type === 'income') {
                  <span class="label label-success">Доход</span>
                }
              </div>
              @if (!goalWrapper.actionPlan) {
                <bk-popover class="repeat-icon" glyphiconClass="paste" placement="right" text="Повторить" (click)="repeatGoal(goalWrapper)"></bk-popover>
              }
              @if (!goalWrapper.goal.done && !goalWrapper.actionPlan) {
                <bk-popover class="move-icon" glyphiconClass="log-in" placement="right" text="Отложить выполнение"
                (click)="moveGoal(goalWrapper)"></bk-popover>
              }
              @if (goalWrapper.actionPlan) {
                <bk-popover class="edit-icon" glyphiconClass="pencil" placement="right" text="Редактировать" (click)="editGoal(goalWrapper)"></bk-popover>
              }
              @if (goalWrapper.actionPlan && goalWrapper.removable) {
                <bk-popover class="remove-icon" glyphiconClass="remove" placement="right" text="Исключить"
                (click)="excludeGoal(goalWrapper)"></bk-popover>
              }
            </div>
            <div class="col-sm-7 progress-column">
              <div class="progress">
                <bk-template-variable #goalPercent [value]="calculateGoalPercentDone(goalWrapper.goal)"></bk-template-variable>
                <div class="progress-bar progress-bar-info" [style.width.%]="goalPercent.value"></div>
                <span class="goal-title">{{goalWrapper.goal.title}} @if (!goalWrapper.missedInClosedMonth) {
                  <span>(<span class="percent">{{goalPercent.value}}%</span>)</span>
                }</span>
                <span class="goal-value">
                  @if (!goalWrapper.missedInClosedMonth) {
                    <span>{{goalWrapper.goal.balance.value | currencyValue:2:true}} из</span>
                    } {{goalWrapper.goal.balance.completeValue | currencyValue:2:true}}
                    <strong><bk-currency-symbol [currencyName]="goalWrapper.goal.balance.currency"></bk-currency-symbol></strong>
                  </span>
                </div>
              </div>
              <div class="col-sm-3 actions-column">
                @if (!goalWrapper.actionPlan) {
                  <div><span class="badge badge-category">{{goalWrapper.category}}</span></div>
                }
                @if (goalWrapper.actionPlan) {
                  <span class="action-label">
                    <span class="label label-info">{{getMonthTitle(goalWrapper.actionPlan.month)}} {{goalWrapper.actionPlan.year}}</span>
                  </span>
                }
              </div>
            </div>
          }
        </div>
      }

      @if (type === 'categories') {
        <div>
          @for (categoryWrapper of categories | closeMonthCategoryFilter:categoryFilters; track categoryWrapper) {
            <div class="row category-row">
              <bk-template-variable #linesNumber [value]="getNumberOfLinesInCategory(categoryWrapper)"></bk-template-variable>
              <div class="col-sm-3 left-column">
                <div class="type-label">
                  @if (categoryWrapper.type === 'expense') {
                    <span class="label label-danger">Расход</span>
                  }
                  @if (categoryWrapper.type === 'income') {
                    <span class="label label-success">Доход</span>
                  }
                </div>
                @if (!categoryWrapper.actionPlan) {
                  <bk-popover class="statistic-icon" glyphiconClass="signal" placement="right" text="Статистика" (click)="showStatistics(categoryWrapper)"></bk-popover>
                }
                @if (!categoryWrapper.actionPlan) {
                  <bk-popover class="repeat-icon" glyphiconClass="paste" placement="right" text="Повторить" (click)="repeatCategory(categoryWrapper)"></bk-popover>
                }
                @if (categoryWrapper.actionPlan) {
                  <bk-popover class="edit-icon" glyphiconClass="pencil" placement="right" text="Редактировать" (click)="editCategory(categoryWrapper)"></bk-popover>
                }
                @if (categoryWrapper.actionPlan && categoryWrapper.removable) {
                  <bk-popover class="remove-icon" glyphiconClass="remove" placement="right" text="Исключить"
                  (click)="excludeCategory(categoryWrapper)"></bk-popover>
                }
                @if (categoryWrapper.goalWrappers.length > 0) {
                  <span [popover]="'Целей в категории'" [popoverPlacement]="'right'" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true"
                    class="badge badge-goal">
                    {{categoryWrapper.goalWrappers.length}}
                  </span>
                }
                <span class="vertical-middle category-icon-wrapper"><img class="icon" [src]="getCategoryIcon(categoryWrapper.category.title) | assetImage:'category'"></span>
              </div>
              <div class="col-sm-7 category-progress-column">
                <bk-template-variable #categoryPercent [value]="calculateCategoryPercentDone(categoryWrapper)"></bk-template-variable>
                <div class="progress" [style.height.px]="20 * linesNumber.value">
                  <div class="progress-bar progress-bar-info" [style.width.%]="categoryPercent.value"></div>
                  <span class="category-title-wrapper">
                    <span class="category-title">{{categoryWrapper.category.title}} @if (!categoryWrapper.missedInClosedMonth) {
                      <span>(<span class="percent">{{categoryPercent.value}}%</span>)</span>
                    }</span>
                  </span>
                  @if (!categoryWrapper.missedInClosedMonth) {
                    <span>
                      @for (currency of categoryWrapper.category.balance | mapKeys | currencySort; track currency; let currencyIndex = $index) {
                        <span class="category-value" [style.top.px]="currencyIndex * 20">
                          <span>{{categoryWrapper.category.balance[currency].value | currencyValue:2:true}}</span> из {{categoryWrapper.category.balance[currency].completeValue | currencyValue:2:true}}
                          <strong><bk-currency-symbol [currencyName]="currency"></bk-currency-symbol></strong>
                        </span>
                      }
                    </span>
                  }
                </div>
              </div>
              <div class="col-sm-2 right-column">
                @if (categoryWrapper.actionPlan) {
                  <span class="action-plan">
                    @for (currency of categoryWrapper.actionPlan | mapKeys | currencySort; track currency; let currencyIndex = $index) {
                      <span class="category-value" [style.top.px]="currencyIndex * 20">
                        {{categoryWrapper.actionPlan[currency].completeValue | currencyValue:2:true}} <strong><bk-currency-symbol [currencyName]="currency"></bk-currency-symbol></strong>
                      </span>
                    }
                  </span>
                }
              </div>
            </div>
          }
        </div>
      }
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="full-width">
      @if (type !== 'period') {
        <span class="summary-to-currency pull-left">
          <div class="dropdown">
            <span class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <strong>Фильтр:</strong> @for (filter of getFilters(); track filter; let last = $last) {
              <span> {{filter}}@if (!last) {
                <span>,</span>
              }</span>
            }
          </span>
          <ul class="dropdown-menu filter" aria-labelledby="dropdownMenu1" bkStopPropagation>
            <li (click)="clickFilter(FILTER.USED, FILTER.UNUSED)">
              <a><input type="checkbox" [checked]="isChecked(FILTER.USED)"> {{FILTER.USED}}</a>
            </li>
            <li (click)="clickFilter(FILTER.UNUSED, FILTER.USED)">
              <a><input type="checkbox" [checked]="isChecked(FILTER.UNUSED)"> {{FILTER.UNUSED}}</a>
            </li>
            <li role="separator" class="divider"></li>
            @if (type === 'goals') {
              <li (click)="clickFilter(FILTER.DONE, FILTER.UNDONE)">
                <a><input type="checkbox" [checked]="isChecked(FILTER.DONE)"> {{FILTER.DONE}}</a>
              </li>
            }
            @if (type === 'goals') {
              <li (click)="clickFilter(FILTER.UNDONE, FILTER.DONE)">
                <a><input type="checkbox" [checked]="isChecked(FILTER.UNDONE)"> {{FILTER.UNDONE}}</a>
              </li>
            }
            @if (type === 'goals') {
              <li role="separator" class="divider"></li>
            }
            <li (click)="clickFilter(FILTER.INCOME, FILTER.EXPENSE)">
              <a><input type="checkbox" [checked]="isChecked(FILTER.INCOME)"> {{FILTER.INCOME}}</a>
            </li>
            <li (click)="clickFilter(FILTER.EXPENSE, FILTER.INCOME)">
              <a><input type="checkbox" [checked]="isChecked(FILTER.EXPENSE)"> {{FILTER.EXPENSE}}</a>
            </li>
          </ul>
        </div>
      </span>
    }

    <a class="btn btn-default pull-right" (click)="close()">Закрыть</a>
    <span class="pull-right">&nbsp;</span>
    @if (type !== 'categories') {
      <a class="btn btn-default pull-right" (click)="next()">Далее</a>
    }
    @if (type === 'categories') {
      <a class="btn btn-default pull-right" (click)="save()">Сохранить</a>
    }
    <span class="pull-right">&nbsp;</span>
    @if (type !== 'period') {
      <a class="btn btn-default pull-right" (click)="back()">Назад</a>
    }
  </span>
</mat-dialog-actions>
