.table-content {
  padding-top: 10px;
  margin-bottom: 0;
  padding-bottom: 1px;
}

.no-right-padding, .progress-column {
  padding-right: 0;
}

.type-label {
  display: inline-block;
  position: relative;
  top: 2px;
  min-width: 50px;
}

.action-label {
  display: inline-block;
  position: relative;
  top: 2px;
  float: right;
}

.label {
  vertical-align: text-top;
}

.first-column {
  display: flex;
}

.repeat-icon, .move-icon, .progress-column, .remove-icon {
  padding-left: 5px;
}

.edit-icon, .statistic-icon {
  padding-left: 7px;
}

.progress {
  margin-bottom: 0;
}

.goal-title {
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.goal-value {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.actions-column {
  padding-left: 10px;
}

.badge-category {
  position: absolute;
  top: 1px;
  width: 83%;
}

.badge-goal {
  position: absolute;
  right: 25px;
}

.badge-goal {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}

.dropdown-menu li {
  cursor: pointer;
}

.filter {
  min-width: 100px;
}

.row {
  margin-bottom: 10px;
  display: flex;
}

.category-row {
  display: flex;
}

.left-column {
  padding-right: 0;
  display: flex;
  align-items: center;
  min-height: 100%;
}

.right-column {
  padding-left: 10px;
  display: flex;
  align-items: center;
  min-height: 100%;
}

.period-row {
  padding-top: 15px;
}

.period-title {
  padding-top: 7px;
}

#budget-close-month-dialog {
  overflow: visible !important;
}

.error {
  margin-bottom: 0;
}

.vertical-middle {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.icon {
  right: 0;
  position: absolute;
}

.progress-column {
  margin-left: 7px;
}

.progress-column, .category-progress-column {
  padding-left: 5px;
  padding-right: 0;
}

.category-progress-column {
  margin-right: 15px;
  margin-left: 5px;
}

.category-title-wrapper {
  height: 100%;
  font-weight: bold;
  position: absolute;
  left: 10px;
}

.category-title {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.category-value {
  position: absolute;
  right: 5px;
}

.action-plan {
  position: absolute;
  right: 15px;
  width: 120px;
  top: 0;
}
