<h2 mat-dialog-title align="center" #title>
  <span *ngIf="data.editMode">Редактировать запланированное</span>
  <span *ngIf="!data.editMode">Запланировать</span>
</h2>
<mat-dialog-content id="budget-plan-dialog">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" [ngClass]="{'active': data.type === 'goal', 'disabled': data.editMode}" (click)="onChangeSelectedType('goal')"><a>Цель</a></li>
    <li role="presentation" [ngClass]="{'active': data.type === 'category', 'disabled': data.editMode}" (click)="onChangeSelectedType('category')"><a>Категория</a></li>
    <li role="presentation" [ngClass]="{'active': data.type === 'limit', 'disabled': data.editMode}" (click)="onChangeSelectedType('limit')"><a>Лимит</a></li>
  </ul>

  <div *ngIf="errors" class="alert alert-dismissable fade in alert-danger error">
    <strong>{{errors}}</strong>
  </div>

  <div class="table">
    <!--Goal month and year-->
    <div class="row" *ngIf="data.type === 'goal'">
      <div class="col-sm-12">
        <bk-month-and-year class="right-button-group" [disabled]="!changeGoalMonthAvailable" [selectedYear]="selectedYear" [selectedMonth]="selectedMonth"
                         (changeMonth)="changeMonth($event)" (changeYear)="changeYear($event)"></bk-month-and-year>
      </div>
    </div>

    <!--All type-->
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <span class="input-group-addon dropdown-addon">Тип:</span>
          <span type="button" class="btn btn-default dropdown-toggle dropdown-with-addon" [ngClass]="{'disabled': data.editMode, 'text-left': budgetType}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span [ngClass]="budgetType">{{getBudgetTypeName(budgetType)}}</span><span class="caret"></span>
          </span>
          <ul class="dropdown-menu full-width-dropdown">
            <li><a class="income" (click)="changeBudgetType('income')">{{getBudgetTypeName('income')}}</a></li>
            <li><a class="expense" (click)="changeBudgetType('expense')">{{getBudgetTypeName('expense')}}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Category or goal category-->
    <div class="row" *ngIf="data.type !== 'limit'">
      <div class="col-sm-12">
        <div class="input-group">
          <span class="input-group-addon dropdown-addon">Категория:</span>
          <span type="button" class="btn btn-default dropdown-toggle dropdown-with-addon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                [ngClass]="{'disabled': data.editMode || !budgetType || typeCategories.length === 0, 'text-left': categoryTitle}">
            <img *ngIf="categoryTitle" class="icon" [src]="getCategoryIcon(categoryTitle) | assetImage:'category'">
            <span [ngClass]="categoryTitle ? budgetType : ''">{{categoryTitle ? categoryTitle : (typeCategories.length === 0 ? 'Нету доступных категорий' : 'Категория')}}</span>
            <span class="caret"></span>
          </span>
          <ul class="dropdown-menu full-width-dropdown">
            <li *ngFor="let category of typeCategories">
              <a class="text-center" (click)="changeCategory(category)" [ngClass]="budgetType">
                <img class="icon" [src]="getCategoryIcon(category.title) | assetImage:'category'">{{category.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--Goal title-->
    <div class="row" *ngIf="data.type === 'goal'">
      <div class="col-sm-12">
        <div class="input-group full-width">
          <span class="input-group-addon dropdown-addon" id="basic-addon1">Название:</span>
          <input type="text" class="form-control" placeholder="Название цели" aria-describedby="basic-addon1" [(ngModel)]="goalTitle">
        </div>
      </div>
    </div>

    <!--All balance-->
    <div class="row" *ngFor="let balance of currencyBalance">
      <div  class="col-sm-12">
        <div class="input-group">
          <div class="input-group-btn">
            <span class="btn btn-default glyphicon glyphicon-plus" type="button" (click)="addCurrency()"  *ngIf="data.type !== 'goal'"></span>
            <span class="btn btn-default glyphicon glyphicon-minus" type="button" (click)="removeCurrency(balance)"  *ngIf="data.type !== 'goal'"></span>
            <span type="button" [ngClass]="{'single-currency': data.type === 'goal', 'multiple-currencies': data.type !== 'goal', 'disabled': !changeGoalMonthAvailable}" class="btn btn-default dropdown-toggle currency-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="float-left">
                <bk-currency-symbol [ngClass]="{'currency-selected-value': data.type !== 'goal'}" *ngIf="balance.currency" [currencyName]="balance.currency"></bk-currency-symbol>
                <span *ngIf="!balance.currency">Валюта</span>
              </span>
              <span class="caret">
            </span>
            </span>
            <ul [ngClass]="{'single-currency': data.type === 'goal', 'multiple-currencies': data.type !== 'goal'}" class="dropdown-menu currency-dropdown-menu">
              <li *ngFor="let currency of currencies" (click)="balance.currency = currency.name"><a><bk-currency-symbol [currencyName]="currency.name"></bk-currency-symbol></a></li>
            </ul>
          </div>
          <bk-input-calculator position="right" placeholder="Лимит" [value]="balance.completeValue" [showConfirm]="balance.showConfirm" [confirmValue]="balance.confirmValue"
                               (changeInputValue)="balance.completeValue = $event" (changeConfirmValue)="balance.confirmValue = $event"></bk-input-calculator>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="showDetails">
      <div  class="col-sm-12 text-center"><span class="details">*</span> Игнорировать минимальное значение для валюты</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="full-width">
    <a class="btn btn-default footer-action-item" (click)="close(false)">Закрыть</a>
    <span class="footer-action-item">&nbsp;</span>
    <a class="btn btn-default footer-action-item" (click)="save()">Сохранить</a>
  </span>
</mat-dialog-actions>
