<div class="toggle btn" [attr.disabled]="isDisabled()" [ngClass]="{'btn-default off': !value, 'btn-primary': value}" [style.width.px]="width" data-toggle="toggle" (click)="changeValue()">
  <input data-toggle="toggle" type="checkbox" [checked]="value" #inputElement>
  <div class="toggle-group" #groupElement>
    <label [attr.disabled]="isDisabled()" class="btn btn-primary toggle-on">{{onValue}} @if (onBadgeValue) {
      <span class="badge">{{onBadgeValue}}</span>
    }</label>
    <label [attr.disabled]="isDisabled()" class="btn btn-default active toggle-off">{{offValue}} @if (offBadgeValue) {
      <span class="badge">{{offBadgeValue}}</span>
    }</label>
    <span [attr.disabled]="isDisabled()" class="toggle-handle btn btn-default"></span>
  </div>
</div>
